In [63]:
import numpy as np
import pandas as pd
much_data = np.fromfunction(lambda x,y: (x+y*y)%17*11, (10000, 26))
large_df = pd.DataFrame(much_data, columns=list("ABCDEFGHIJKLMNOPQRSTUVWXYZ"))
large_df[large_df % 16 == 0] = np.nan
large_df.insert(3,"some_text", "Blabla")
large_df

,A,B,C,some_text,D,E,F,G,H,I,...,Q,R,S,T,U,V,W,X,Y,Z
0,NaN,11.0,44.0,Blabla,99.0,NaN,88.0,22.0,165.0,143.0,...,11.0,NaN,11.0,44.0,99.0,NaN,88.0,22.0,165.0,143.0
1,11.0,22.0,55.0,Blabla,110.0,NaN,99.0,33.0,NaN,154.0,...,22.0,11.0,22.0,55.0,110.0,NaN,99.0,33.0,NaN,154.0
2,22.0,33.0,66.0,Blabla,121.0,11.0,110.0,44.0,NaN,165.0,...,33.0,22.0,33.0,66.0,121.0,11.0,110.0,44.0,NaN,165.0
3,33.0,44.0,77.0,Blabla,132.0,22.0,121.0,55.0,11.0,NaN,...,44.0,33.0,44.0,77.0,132.0,22.0,121.0,55.0,11.0,NaN
4,44.0,55.0,88.0,Blabla,143.0,33.0,132.0,66.0,22.0,NaN,...,55.0,44.0,55.0,88.0,143.0,33.0,132.0,66.0,22.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,NaN,33.0,Blabla,88.0,165.0,77.0,11.0,154.0,132.0,...,NaN,NaN,NaN,33.0,88.0,165.0,77.0,11.0,154.0,132.0
9996,NaN,11.0,44.0,Blabla,99.0,NaN,88.0,22.0,165.0,143.0,...,11.0,NaN,11.0,44.0,99.0,NaN,88.0,22.0,165.0,143.0
9997,11.0,22.0,55.0,Blabla,110.0,NaN,99.0,33.0,NaN,154.0,...,22.0,11.0,22.0,55.0,110.0,NaN,99.0,33.0,NaN,154.0
9998,22.0,33.0,66.0,Blabla,121.0,11.0,110.0,44.0,NaN,165.0,...,33.0,22.0,33.0,66.0,121.0,11.0,110.0,44.0,NaN,165.0
9999,33.0,44.0,77.0,Blabla,132.0,22.0,121.0,55.0,11.0,NaN,...,44.0,33.0,44.0,77.0,132.0,22.0,121.0,55.0,11.0,NaN

In [64]:
large_df.head()

,A,B,C,some_text,D,E,F,G,H,I,...,Q,R,S,T,U,V,W,X,Y,Z
0,NaN,11.0,44.0,Blabla,99.0,NaN,88.0,22.0,165.0,143.0,...,11.0,NaN,11.0,44.0,99.0,NaN,88.0,22.0,165.0,143.0
1,11.0,22.0,55.0,Blabla,110.0,NaN,99.0,33.0,NaN,154.0,...,22.0,11.0,22.0,55.0,110.0,NaN,99.0,33.0,NaN,154.0
2,22.0,33.0,66.0,Blabla,121.0,11.0,110.0,44.0,NaN,165.0,...,33.0,22.0,33.0,66.0,121.0,11.0,110.0,44.0,NaN,165.0
3,33.0,44.0,77.0,Blabla,132.0,22.0,121.0,55.0,11.0,NaN,...,44.0,33.0,44.0,77.0,132.0,22.0,121.0,55.0,11.0,NaN
4,44.0,55.0,88.0,Blabla,143.0,33.0,132.0,66.0,22.0,NaN,...,55.0,44.0,55.0,88.0,143.0,33.0,132.0,66.0,22.0,NaN

In [65]:
large_df.tail(2)

,A,B,C,some_text,D,E,F,G,H,I,...,Q,R,S,T,U,V,W,X,Y,Z
9998,22.0,33.0,66.0,Blabla,121.0,11.0,110.0,44.0,NaN,165.0,...,33.0,22.0,33.0,66.0,121.0,11.0,110.0,44.0,NaN,165.0
9999,33.0,44.0,77.0,Blabla,132.0,22.0,121.0,55.0,11.0,NaN,...,44.0,33.0,44.0,77.0,132.0,22.0,121.0,55.0,11.0,NaN

In [66]:
large_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 27 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   A          8823 non-null   float64
 1   B          8824 non-null   float64
 2   C          8824 non-null   float64
 3   some_text  10000 non-null  object
 4   D          8824 non-null   float64
 5   E          8822 non-null   float64
 6   F          8824 non-null   float64
 7   G          8824 non-null   float64
 8   H          8822 non-null   float64
 9   I          8823 non-null   float64
 10  J          8823 non-null   float64
 11  K          8822 non-null   float64
 12  L          8824 non-null   float64
 13  M          8824 non-null   float64
 14  N          8822 non-null   float64
 15  O          8824 non-null   float64
 16  P          8824 non-null   float64
 17  Q          8824 non-null   float64
 18  R          8823 non-null   float64
 19  S          8824 non-null   float64
 20  T          8824 non-null   float64
 21  U          8824 non-null   float64
 22  V          8822 non-null   float64
 23  W          8824 non-null   float64
 24  X          8824 non-null   float64
 25  Y          8822 non-null   float64
 26  Z          8823 non-null   float64
dtypes: float64(26), object(1)
memory usage: 2.1+ MB

In [67]:
large_df.describe()

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
count,8823.000000,8824.000000,8824.000000,8824.000000,8822.000000,8824.000000,8824.000000,8822.000000,8823.000000,8823.000000,...,8824.000000,8823.000000,8824.000000,8824.000000,8824.000000,8822.000000,8824.000000,8824.000000,8822.000000,8823.000000
mean,87.977559,87.972575,87.987534,88.012466,87.983791,88.007480,87.977561,88.000000,88.022441,88.022441,...,87.972575,87.977559,87.972575,87.987534,88.012466,87.983791,88.007480,87.977561,88.000000,88.022441
std,47.535911,47.535523,47.521679,47.521679,47.535001,47.519371,47.529755,47.536879,47.535911,47.535911,...,47.535523,47.535911,47.535523,47.521679,47.521679,47.535001,47.519371,47.529755,47.536879,47.535911
min,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,...,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
25%,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,...,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
50%,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,...,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
75%,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,...,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000
max,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,...,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000

In [68]:
my_df = pd.DataFrame([["Biking", 68.5, 1985, np.nan], ["Dancing", 83.1, 1984,3]],
                     columns=["hobby", "weight", "birthyear", "children"],
                     index=["alice","bob"])
my_df

         hobby  weight  birthyear  children
alice   Biking    68.5       1985       NaN
bob    Dancing    83.1       1984       3.0

In [69]:
my_df.to_csv("my_df.csv")

In [70]:
my_df.to_html("my_df.html")
my_df.to_json("my_df.json")

In [71]:
for file_name in ("my_df.csv", "my_df.html", "my_df.json"):
    print("#", file_name)
    with open (file_name, "rt") as f:
        print(f.read())
        print()

# my_df.csv
,hobby,weight,birthyear,children
alice,Biking,68.5,1985,
bob,Dancing,83.1,1984,3.0


# my_df.html
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hobby</th>
      <th>weight</th>
      <th>birthyear</th>
      <th>children</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>alice</th>
      <td>Biking</td>
      <td>68.5</td>
      <td>1985</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>bob</th>
      <td>Dancing</td>
      <td>83.1</td>
      <td>1984</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>

# my_df.json
{"hobby":{"alice":"Biking","bob":"Dancing"},"weight":{"alice":68.5,"bob":83.1},"birthyear":{"alice":1985,"bob":1984},"children":{"alice":null,"bob":3.0}}

In [72]:
my_df_loaded = pd.read_csv("my_df.csv", index_col=0)
my_df_loaded

         hobby  weight  birthyear  children
alice   Biking    68.5       1985       NaN
bob    Dancing    83.1       1984       3.0

In [73]:
us_cities = None
try:
    csv_url = "https://raw.githubusercontent.com/plotly/datasets/master/us-cities-top-1k.csv"
    us_cities = pd.read_csv(csv_url, index_col=0)
    us_cities = us_cities.head()
except IOError as e:
    print(e)
us_cities

                     State  Population        lat         lon
City
Marysville      Washington       63269  48.051764 -122.177082
Perris          California       72326  33.782519 -117.228648
Cleveland             Ohio      390113  41.499320  -81.694361
Worcester    Massachusetts      182544  42.262593  -71.802293
Columbia    South Carolina      133358  34.000710  -81.034814

In [74]:
city_loc = pd.DataFrame([["CA", "San Francisco", 37.781334, -122.416728],
                         ["NY", "New York", 40.705649, -74.008344],
                        ["FL", "Miami", 25.791100, -80.320733],
                         ["OH", "Cleveland", 41.473508, -81.739791],
                        ["UT", "Salt Lake City", 40.755851, -111.896657]],
                       columns = ["state", "city", "lat", "lng"],
                       index = [0,1,2,3,4])
city_loc

  state            city        lat         lng
0    CA   San Francisco  37.781334 -122.416728
1    NY        New York  40.705649  -74.008344
2    FL           Miami  25.791100  -80.320733
3    OH       Cleveland  41.473508  -81.739791
4    UT  Salt Lake City  40.755851 -111.896657

In [75]:
city_pop = pd.DataFrame(
    [
        [808976, "San Francisco", "California"],
        [8363710, "New York", "New-York"],
        [413201, "Miami", "Florida"],
        [2242193, "Houston", "Texas"]
    ], index=[3,4,5,6], columns=["population", "city", "state"])
city_pop

   population           city       state
3      808976  San Francisco  California
4     8363710       New York    New-York
5      413201          Miami     Florida
6     2242193        Houston       Texas

In [76]:
pd.merge(left=city_loc, right=city_pop, on="city")

  state_x           city        lat         lng  population     state_y
0      CA  San Francisco  37.781334 -122.416728      808976  California
1      NY       New York  40.705649  -74.008344     8363710    New-York
2      FL          Miami  25.791100  -80.320733      413201     Florida

In [77]:
all_cities = pd.merge(left=city_loc, right=city_pop, on="city", how="outer")
all_cities

  state_x            city        lat         lng  population     state_y
0      CA   San Francisco  37.781334 -122.416728    808976.0  California
1      NY        New York  40.705649  -74.008344   8363710.0    New-York
2      FL           Miami  25.791100  -80.320733    413201.0     Florida
3      OH       Cleveland  41.473508  -81.739791         NaN         NaN
4      UT  Salt Lake City  40.755851 -111.896657         NaN         NaN
5     NaN         Houston        NaN         NaN   2242193.0       Texas

In [78]:
pd.merge(left=city_loc, right=city_pop, on="city", how="right")

  state_x           city        lat         lng  population     state_y
0      CA  San Francisco  37.781334 -122.416728      808976  California
1      NY       New York  40.705649  -74.008344     8363710    New-York
2      FL          Miami  25.791100  -80.320733      413201     Florida
3     NaN        Houston        NaN         NaN     2242193       Texas

In [79]:
city_pop2 = city_pop.copy()
city_pop2.columns = ["population", "name", "state"]
pd.merge(left=city_loc, right=city_pop2, left_on="city", right_on="name")

,state_x,city,lat,lng,population,name,state_y
0,CA,San Francisco,37.781334,-122.416728,808976,San Francisco,California
1,NY,New York,40.705649,-74.008344,8363710,New York,New-York
2,FL,Miami,25.791100,-80.320733,413201,Miami,Florida

In [80]:
result_concat = pd.concat([city_loc, city_pop])
result_concat.sort_index(axis=1, inplace=True)
result_concat

             city        lat         lng  population       state
0   San Francisco  37.781334 -122.416728         NaN          CA
1        New York  40.705649  -74.008344         NaN          NY
2           Miami  25.791100  -80.320733         NaN          FL
3       Cleveland  41.473508  -81.739791         NaN          OH
4  Salt Lake City  40.755851 -111.896657         NaN          UT
3   San Francisco        NaN         NaN    808976.0  California
4        New York        NaN         NaN   8363710.0    New-York
5           Miami        NaN         NaN    413201.0     Florida
6         Houston        NaN         NaN   2242193.0       Texas

In [81]:
result_concat.loc[3]

            city        lat        lng  population       state
3      Cleveland  41.473508 -81.739791         NaN          OH
3  San Francisco        NaN        NaN    808976.0  California

In [82]:
pd.concat([city_loc,city_pop], ignore_index=True)

        state            city        lat         lng  population
0          CA   San Francisco  37.781334 -122.416728         NaN
1          NY        New York  40.705649  -74.008344         NaN
2          FL           Miami  25.791100  -80.320733         NaN
3          OH       Cleveland  41.473508  -81.739791         NaN
4          UT  Salt Lake City  40.755851 -111.896657         NaN
5  California   San Francisco        NaN         NaN    808976.0
6    New-York        New York        NaN         NaN   8363710.0
7     Florida           Miami        NaN         NaN    413201.0
8       Texas         Houston        NaN         NaN   2242193.0

In [83]:
pd.concat([city_loc,city_pop], join="inner")

        state            city
0          CA   San Francisco
1          NY        New York
2          FL           Miami
3          OH       Cleveland
4          UT  Salt Lake City
3  California   San Francisco
4    New-York        New York
5     Florida           Miami
6       Texas         Houston

In [84]:
pd.concat([city_loc, city_pop], axis=1)

,state,city,lat,lng,population,city,state
0,CA,San Francisco,37.781334,-122.416728,NaN,NaN,NaN
1,NY,New York,40.705649,-74.008344,NaN,NaN,NaN
2,FL,Miami,25.791100,-80.320733,NaN,NaN,NaN
3,OH,Cleveland,41.473508,-81.739791,808976.0,San Francisco,California
4,UT,Salt Lake City,40.755851,-111.896657,8363710.0,New York,New-York
5,NaN,NaN,NaN,NaN,413201.0,Miami,Florida
6,NaN,NaN,NaN,NaN,2242193.0,Houston,Texas

In [85]:
pd.concat([city_loc.set_index("city"), city_pop.set_index("city")], axis=1)

               state        lat         lng  population       state
city
San Francisco     CA  37.781334 -122.416728    808976.0  California
New York          NY  40.705649  -74.008344   8363710.0    New-York
Miami             FL  25.791100  -80.320733    413201.0     Florida
Cleveland         OH  41.473508  -81.739791         NaN         NaN
Salt Lake City    UT  40.755851 -111.896657         NaN         NaN
Houston          NaN        NaN         NaN   2242193.0       Texas

In [86]:
city_loc.append(city_pop)

        state            city        lat         lng  population
0          CA   San Francisco  37.781334 -122.416728         NaN
1          NY        New York  40.705649  -74.008344         NaN
2          FL           Miami  25.791100  -80.320733         NaN
3          OH       Cleveland  41.473508  -81.739791         NaN
4          UT  Salt Lake City  40.755851 -111.896657         NaN
3  California   San Francisco        NaN         NaN    808976.0
4    New-York        New York        NaN         NaN   8363710.0
5     Florida           Miami        NaN         NaN    413201.0
6       Texas         Houston        NaN         NaN   2242193.0

In [87]:
city_eco = city_pop.copy()
city_eco["eco_code"] = [17, 17, 34, 20]
city_eco

   population           city       state  eco_code
3      808976  San Francisco  California        17
4     8363710       New York    New-York        17
5      413201          Miami     Florida        34
6     2242193        Houston       Texas        20

In [88]:
city_eco["economy"] = city_eco["eco_code"].astype('category')
city_eco["economy"].cat.categories # Makes a column as type category

Int64Index([17, 20, 34], dtype='int64')

In [89]:
city_eco["economy"].cat.categories = ["Finance", "Energy", "Tourism"] #Initializinf values to each category
city_eco

   population           city       state  eco_code  economy
3      808976  San Francisco  California        17  Finance
4     8363710       New York    New-York        17  Finance
5      413201          Miami     Florida        34  Tourism
6     2242193        Houston       Texas        20   Energy

In [90]:
city_eco.sort_values(by="economy", ascending=False) #Sorted in alpha. order

   population           city       state  eco_code  economy
5      413201          Miami     Florida        34  Tourism
6     2242193        Houston       Texas        20   Energy
3      808976  San Francisco  California        17  Finance
4     8363710       New York    New-York        17  Finance

# NLP

In [91]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [92]:
!pip install spacy
import spacy
nlp = spacy.load('en_core_web_sm')

Requirement already satisfied: spacy in c:\users\codiant\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (0.7.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (4.62.3)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (0.9.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (3.3.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (3.0.8)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (0.4.0)
Requirement already satisfied: setuptools in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (58.0.4)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (1.0.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (1.8.2)
Requirement already satisfied: numpy>=1.15.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (1.20.3)
Requirement already satisfied: pathy>=0.3.5 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (0.6.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (3.0.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (1.0.6)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (8.0.13)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.0.6)
Requirement already satisfied: jinja2 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.11.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.4.2)
Requirement already satisfied: packaging>=20.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (21.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.0.6)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.26.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\codiant\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in c:\users\codiant\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\codiant\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy) (3.10.0.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.7)
Requirement already satisfied: colorama in c:\users\codiant\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\codiant\anaconda3\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy) (8.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\codiant\anaconda3\lib\site-packages (from jinja2->spacy) (1.1.1)

In [93]:
raw_text = 'NLP is a very powerful tool'
text_doc = nlp(raw_text)

In [94]:
for token in text_doc:
    print(token.text)

NLP
is
a
very
powerful
tool

In [95]:
mixed_text = 'I love you 3000!'
mixed_text_doc = nlp(mixed_text)

for token in mixed_text_doc:
    print(token.text, token.is_alpha)

I True
love True
you True
3000 False
! False

In [96]:
random_text='It was amazing! It is a great pleasure to be a part of the band.'
random_text_doc=nlp(random_text)
print("Text".ljust(10), ' ', "Alpha", "Space", "Stop", "Punct")
for token in random_text_doc:
    print(token.text.ljust(10), ':', token.is_alpha, token.is_space, token.is_stop, token.is_punct)

Text         Alpha Space Stop Punct
It         : True False True False
was        : True False True False
amazing    : True False False False
!          : False False False True
It         : True False True False
is         : True False True False
a          : True False True False
great      : True False False False
pleasure   : True False False False
to         : True False True False
be         : True False True False
a          : True False True False
part       : True False True False
of         : True False True False
the        : True False True False
band       : True False False False
.          : False False False True

In [97]:
raw_text= 'Amazon Alexa, also known simply as Alexa, is a virtual assistant AI technology developed by Amazon, first used in the Amazon Echo smart speakers developed by Amazon Lab126. It is capable of voice interaction, music playback, making to-do lists, setting alarms, streaming podcasts, playing audiobooks, and providing weather, traffic, sports, and other real-time information, such as news. Alexa can also control several smart devices using itself as a home automation system. Users are able to extend the Alexa capabilities by installing "skills" additional functionality developed by third-party vendors, in other settings more commonly called apps such as weather programs and audio features.Most devices with Alexa allow users to activate the device using a wake-word (such as Alexa or Amazon); other devices (such as the Amazon mobile app on iOS or Android and Amazon Dash Wand) require the user to push a button to activate Alexa listening mode, although, some phones also allow a user to say a command, such as "Alexa" or "Alexa wake". Currently, interaction and communication with Alexa are available only in English, German, French, Italian, Spanish, Portuguese, Japanese, and Hindi. In Canada, Alexa is available in English and French with the Quebec accent).(truncated...).'
text_doc=nlp(raw_text)

token_count=0

for token in text_doc:
    print(token.text)
    token_count+=1

Amazon
Alexa
,
also
known
simply
as
Alexa
,
is
a
virtual
assistant
AI
technology
developed
by
Amazon
,
first
used
in
the
Amazon
Echo
smart
speakers
developed
by
Amazon
Lab126
.
It
is
capable
of
voice
interaction
,
music
playback
,
making
to
-
do
lists
,
setting
alarms
,
streaming
podcasts
,
playing
audiobooks
,
and
providing
weather
,
traffic
,
sports
,
and
other
real
-
time
information
,
such
as
news
.
Alexa
can
also
control
several
smart
devices
using
itself
as
a
home
automation
system
.
Users
are
able
to
extend
the
Alexa
capabilities
by
installing
"
skills
"
additional
functionality
developed
by
third
-
party
vendors
,
in
other
settings
more
commonly
called
apps
such
as
weather
programs
and
audio
features
.
Most
devices
with
Alexa
allow
users
to
activate
the
device
using
a
wake
-
word
(
such
as
Alexa
or
Amazon
)
;
other
devices
(
such
as
the
Amazon
mobile
app
on
iOS
or
Android
and
Amazon
Dash
Wand
)
require
the
user
to
push
a
button
to
activate
Alexa
listening
mode
,
although
,
some
phones
also
allow
a
user
to
say
a
command
,
such
as
"
Alexa
"
or
"
Alexa
wake
"
.
Currently
,
interaction
and
communication
with
Alexa
are
available
only
in
English
,
German
,
French
,
Italian
,
Spanish
,
Portuguese
,
Japanese
,
and
Hindi
.
In
Canada
,
Alexa
is
available
in
English
and
French
with
the
Quebec
accent).(truncated
...
)
.

In [98]:
print('Number of tokens originally',token_count)

Number of tokens originally 251

In [99]:
stopwords = spacy.lang.en.stop_words.STOP_WORDS
list_stopwords=list(stopwords)

# printing a fraction of the list through indexing
for word in list_stopwords[:7]:
    print(word)

top
up
go
five
us
but
none

In [100]:
raw_text= 'Amazon Alexa, also known simply as Alexa, is a virtual assistant AI technology developed by Amazon, first used in the Amazon Echo smart speakers developed by Amazon Lab126. It is capable of voice interaction, music playback, making to-do lists, setting alarms, streaming podcasts, playing audiobooks, and providing weather, traffic, sports, and other real-time information, such as news. Alexa can also control several smart devices using itself as a home automation system. Users are able to extend the Alexa capabilities by installing "skills" additional functionality developed by third-party vendors, in other settings more commonly called apps such as weather programs and audio features.Most devices with Alexa allow users to activate the device using a wake-word (such as Alexa or Amazon); other devices (such as the Amazon mobile app on iOS or Android and Amazon Dash Wand) require the user to push a button to activate Alexa listening mode, although, some phones also allow a user to say a command, such as "Alexa" or "Alexa wake". Currently, interaction and communication with Alexa are available only in English, German, French, Italian, Spanish, Portuguese, Japanese, and Hindi. In Canada, Alexa is available in English and French with the Quebec accent).[6][7]As of November 2018, Amazon had more than 10,000 employees working on Alexa and related products.[8] In January 2019, Amazons devices team announced that they had sold over 100 million Alexa-enabled devices.[9]In September 2019, Amazon launched many new devices achieving many records while competing with the worlds smart home industry. The new Echo Studio became the first smart speaker with 360 sound and Dolby sound. Other new devices included an Echo dot with a clock behind the fabric, a new third-generation Amazon Echo, Echo Show 8, a plug-in Echo device, Echo Flex, Alexa built-in wireless earphones, Echo buds, Alexa built-in spectacles, Echo frames, an Alexa built-in Ring, and Echo Loop.Alexa can perform a number of preset functions out-of-the-box such as set timers, share the current weather, create lists, access Wikipedia articles, and many more things. Users say a designated "wake word" (the default is simply "Alexa") to alert an Alexa-enabled device of an ensuing function command. Alexa listens for the command and performs the appropriate function, or skill, to answer a question or command. Alexas question answering ability is partly powered by the Wolfram Language. When questions are asked, Alexa converts sound waves into text which allows it to gather information from various sources. Behind the scenes, the data gathered is then parsed by Wolfram technology to generate suitable and accurate answers. Alexa-supported devices can stream music from the owners Amazon Music accounts and have built-in support for Pandora and Spotify accounts. Alexa can play music from streaming services such as Apple Music and Google Play Music from a phone or tablet.In addition to performing pre-set functions, Alexa can also perform additional functions through third-party skills that users can enable. Some of the most popular Alexa skills in 2018 included "Question of the Day" and "National Geographic Geo Quiz" for trivia; "TuneIn Live" to listen to live sporting events and news stations; "Big Sky" for hyper local weather updates; "Sleep and Relaxation Sounds" for listening to calming sounds; "Sesame Street" for children entertainment; and "Fitbit" for Fitbit users who want to check in on their health stats. In 2019, Apple, Google, Amazon, and Zigbee Alliance announced a partnership to make smart home products work together.'
text_doc=nlp(raw_text)

token_count_without_stopwords = 0

filtered_text = [token for token in text_doc if not token.is_stop]
for token in filtered_text:
    print(token)
    token_count_without_stopwords+=1

Amazon
Alexa
,
known
simply
Alexa
,
virtual
assistant
AI
technology
developed
Amazon
,
Amazon
Echo
smart
speakers
developed
Amazon
Lab126
.
capable
voice
interaction
,
music
playback
,
making
-
lists
,
setting
alarms
,
streaming
podcasts
,
playing
audiobooks
,
providing
weather
,
traffic
,
sports
,
real
-
time
information
,
news
.
Alexa
control
smart
devices
home
automation
system
.
Users
able
extend
Alexa
capabilities
installing
"
skills
"
additional
functionality
developed
-
party
vendors
,
settings
commonly
called
apps
weather
programs
audio
features
.
devices
Alexa
allow
users
activate
device
wake
-
word
(
Alexa
Amazon
)
;
devices
(
Amazon
mobile
app
iOS
Android
Amazon
Dash
Wand
)
require
user
push
button
activate
Alexa
listening
mode
,
,
phones
allow
user
command
,
"
Alexa
"
"
Alexa
wake
"
.
Currently
,
interaction
communication
Alexa
available
English
,
German
,
French
,
Italian
,
Spanish
,
Portuguese
,
Japanese
,
Hindi
.
Canada
,
Alexa
available
English
French
Quebec
accent).[6][7]As
November
2018
,
Amazon
10,000
employees
working
Alexa
related
products.[8
]
January
2019
,
Amazons
devices
team
announced
sold
100
million
Alexa
-
enabled
devices.[9]In
September
2019
,
Amazon
launched
new
devices
achieving
records
competing
worlds
smart
home
industry
.
new
Echo
Studio
smart
speaker
360
sound
Dolby
sound
.
new
devices
included
Echo
dot
clock
fabric
,
new
-
generation
Amazon
Echo
,
Echo
8
,
plug
-
Echo
device
,
Echo
Flex
,
Alexa
built
-
wireless
earphones
,
Echo
buds
,
Alexa
built
-
spectacles
,
Echo
frames
,
Alexa
built
-
Ring
,
Echo
Loop
.
Alexa
perform
number
preset
functions
-
-
-
box
set
timers
,
share
current
weather
,
create
lists
,
access
Wikipedia
articles
,
things
.
Users
designated
"
wake
word
"
(
default
simply
"
Alexa
"
)
alert
Alexa
-
enabled
device
ensuing
function
command
.
Alexa
listens
command
performs
appropriate
function
,
skill
,
answer
question
command
.
Alexas
question
answering
ability
partly
powered
Wolfram
Language
.
questions
asked
,
Alexa
converts
sound
waves
text
allows
gather
information
sources
.
scenes
,
data
gathered
parsed
Wolfram
technology
generate
suitable
accurate
answers
.
Alexa
-
supported
devices
stream
music
owners
Amazon
Music
accounts
built
-
support
Pandora
Spotify
accounts
.
Alexa
play
music
streaming
services
Apple
Music
Google
Play
Music
phone
tablet
.
addition
performing
pre
-
set
functions
,
Alexa
perform
additional
functions
-
party
skills
users
enable
.
popular
Alexa
skills
2018
included
"
Question
Day
"
"
National
Geographic
Geo
Quiz
"
trivia
;
"
TuneIn
Live
"
listen
live
sporting
events
news
stations
;
"
Big
Sky
"
hyper
local
weather
updates
;
"
Sleep
Relaxation
Sounds
"
listening
calming
sounds
;
"
Sesame
Street
"
children
entertainment
;
"
Fitbit
"
Fitbit
users
want
check
health
stats
.
2019
,
Apple
,
Google
,
Amazon
,
Zigbee
Alliance
announced
partnership
smart
home
products
work
.

In [101]:
print('No of tokens after removing stopwords', token_count_without_stopwords)

No of tokens after removing stopwords 488

In [102]:
filtered_text = [token for token in filtered_text if not token.is_punct]

token_count_without_stop_and_punct = 0

for token in filtered_text:
    print(token)
    token_count_without_stop_and_punct += 1

Amazon
Alexa
known
simply
Alexa
virtual
assistant
AI
technology
developed
Amazon
Amazon
Echo
smart
speakers
developed
Amazon
Lab126
capable
voice
interaction
music
playback
making
lists
setting
alarms
streaming
podcasts
playing
audiobooks
providing
weather
traffic
sports
real
time
information
news
Alexa
control
smart
devices
home
automation
system
Users
able
extend
Alexa
capabilities
installing
skills
additional
functionality
developed
party
vendors
settings
commonly
called
apps
weather
programs
audio
features
devices
Alexa
allow
users
activate
device
wake
word
Alexa
Amazon
devices
Amazon
mobile
app
iOS
Android
Amazon
Dash
Wand
require
user
push
button
activate
Alexa
listening
mode
phones
allow
user
command
Alexa
Alexa
wake
Currently
interaction
communication
Alexa
available
English
German
French
Italian
Spanish
Portuguese
Japanese
Hindi
Canada
Alexa
available
English
French
Quebec
accent).[6][7]As
November
2018
Amazon
10,000
employees
working
Alexa
related
products.[8
January
2019
Amazons
devices
team
announced
sold
100
million
Alexa
enabled
devices.[9]In
September
2019
Amazon
launched
new
devices
achieving
records
competing
worlds
smart
home
industry
new
Echo
Studio
smart
speaker
360
sound
Dolby
sound
new
devices
included
Echo
dot
clock
fabric
new
generation
Amazon
Echo
Echo
8
plug
Echo
device
Echo
Flex
Alexa
built
wireless
earphones
Echo
buds
Alexa
built
spectacles
Echo
frames
Alexa
built
Ring
Echo
Loop
Alexa
perform
number
preset
functions
box
set
timers
share
current
weather
create
lists
access
Wikipedia
articles
things
Users
designated
wake
word
default
simply
Alexa
alert
Alexa
enabled
device
ensuing
function
command
Alexa
listens
command
performs
appropriate
function
skill
answer
question
command
Alexas
question
answering
ability
partly
powered
Wolfram
Language
questions
asked
Alexa
converts
sound
waves
text
allows
gather
information
sources
scenes
data
gathered
parsed
Wolfram
technology
generate
suitable
accurate
answers
Alexa
supported
devices
stream
music
owners
Amazon
Music
accounts
built
support
Pandora
Spotify
accounts
Alexa
play
music
streaming
services
Apple
Music
Google
Play
Music
phone
tablet
addition
performing
pre
set
functions
Alexa
perform
additional
functions
party
skills
users
enable
popular
Alexa
skills
2018
included
Question
Day
National
Geographic
Geo
Quiz
trivia
TuneIn
Live
listen
live
sporting
events
news
stations
Big
Sky
hyper
local
weather
updates
Sleep
Relaxation
Sounds
listening
calming
sounds
Sesame
Street
children
entertainment
Fitbit
Fitbit
users
want
check
health
stats
2019
Apple
Google
Amazon
Zigbee
Alliance
announced
partnership
smart
home
products
work

In [103]:
print('No of tokens after removing stopwords and punctuations', token_count_without_stop_and_punct)

No of tokens after removing stopwords and punctuations 361

In [104]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
words = ['dance','dances', 'dancing', 'danced']
for word in words:
    print(word.ljust(8),'-------', ps.stem(word))

dance    ------- danc
dances   ------- danc
dancing  ------- danc
danced   ------- danc

In [105]:
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer 

lemmatizer = WordNetLemmatizer()

print(lemmatizer.lemmatize("dances"))

dance

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [106]:
my_text='The model AIM has a performce accuracy of 87% and it is redady to be released. The release is going to be held on day 12.3.2000 and  it has amzing performance recod.Model AIM2.0 has accuracy of 89% and better performing expectations are there.le us see how it performs'

words=nltk.word_tokenize(my_text)

print(words)

['The', 'model', 'AIM', 'has', 'a', 'performce', 'accuracy', 'of', '87', '%', 'and', 'it', 'is', 'redady', 'to', 'be', 'released', '.', 'The', 'release', 'is', 'going', 'to', 'be', 'held', 'on', 'day', '12.3.2000', 'and', 'it', 'has', 'amzing', 'performance', 'recod.Model', 'AIM2.0', 'has', 'accuracy', 'of', '89', '%', 'and', 'better', 'performing', 'expectations', 'are', 'there.le', 'us', 'see', 'how', 'it', 'performs']

In [107]:
lemmatized_output = ' '.join([lemmatizer.lemmatize(w) for w in words])
print(lemmatized_output)

The model AIM ha a performce accuracy of 87 % and it is redady to be released . The release is going to be held on day 12.3.2000 and it ha amzing performance recod.Model AIM2.0 ha accuracy of 89 % and better performing expectation are there.le u see how it performs

In [108]:
text = 'dance dances dancing danced'
text_doc=nlp(text)

for token in text_doc:
    print(token.text, '--------', token.lemma_)

dance -------- dance
dances -------- dance
dancing -------- dance
danced -------- dance

In [109]:
text=' I had calculated it wrong. I am calculating the bill again.'
text_doc=nlp(text)
filtered_text = [token for token in text_doc if not token.is_stop]
filtered_text = [token for token in text_doc if not token.is_punct]

" ".join([token.lemma_ for token in filtered_text])

'  I have calculate it wrong I be calculate the bill again'

In [110]:
#!pip install Counter
import collections
from collections import Counter

In [111]:
data='It is my birthday today. I could not have a birthday party. I felt sad'
data_doc=nlp(data)

#creating a list of tokens after preprocessing
list_of_tokens=[token.text for token in data_doc if not token.is_stop and not token.is_punct]

#passing the list of tokens to Counter
token_frequency=Counter(list_of_tokens)
print(token_frequency)

Counter({'birthday': 2, 'today': 1, 'party': 1, 'felt': 1, 'sad': 1})

In [112]:
longtext='Gangtok is a city, municipality, the capital and the largest town of the Indian state of Sikkim. It is also the headquarters of the East Sikkim district. Gangtok is in the eastern Himalayan range, at an elevation of 1,650. The towns population of 100000 are from different ethnicities such as Bhutia, Lepchas and Indian Gorkhas. Within the higher peaks of the Himalaya and with a year-round mild temperate climate, Gangtok is at the centre of Sikkims tourism industry.Gangtok rose to prominence as a popular Buddhist pilgrimage site after the construction of the Enchey Monastery in 1840. In 1894, the ruling Sikkimese Chogyal, Thutob Namgyal, transferred the capital to Gangtok. In the early 20th century, Gangtok became a major stopover on the trade route between Lhasa in Tibet and cities such as Kolkata (then Calcutta) in British India. After India won its independence from Britain in 1947, Sikkim chose to remain an independent monarchy, with Gangtok as its capital. In 1975, after the integration with the union of India, Gangtok was made Indias 22nd state capital.Like the rest of Sikkim, not much is known about the early history of Gangtok. The earliest records date from the construction of the hermitic Gangtok monastery in 1716.[7] Gangtok remained a small hamlet until the construction of the Enchey Monastery in 1840 made it a pilgrimage center. It became the capital of what was left of Sikkim after an English conquest in the mid-19th century in response to a hostage crisis. After the defeat of the Tibetans by the British, Gangtok became a major stopover in the trade between Tibet and British India at the end of the 19th century. Most of the roads and the telegraph in the area were built during this time.In 1894, Thutob Namgyal, the Sikkimese monarch under British rule, shifted the capital from Tumlong to Gangtok, increasing the citys importance. A new grand palace along with other state buildings was built in the new capital. Following India independence in 1947, Sikkim became a nation-state with Gangtok as its capital. Sikkim came under the suzerainty of India, with the condition that it would retain its independence, by the treaty signed between the Chogyal and the then Indian Prime Minister Jawaharlal Nehru.[9] This pact gave the Indians control of external affairs on behalf of Sikkimese. Trade between India and Tibet continued to flourish through the Nathula and Jelepla passes, offshoots of the ancient Silk Road near Gangtok. These border passes were sealed after the Sino-Indian War in 1962, which deprived Gangtok of its trading business.[10] The Nathula pass was finally opened for limited trade in 2006, fuelling hopes of economic boomIn 1975, after years of political uncertainty and struggle, including riots, the monarchy was abrogated and Sikkim became India twenty-second state, with Gangtok as its capital after a referendum. Gangtok has witnessed annual landslides, resulting in loss of life and damage to property. The largest disaster occurred in June 1997, when 38 were killed and hundreds of buildings were destroyed'
long_text=nlp(longtext)


list_of_tokens=[token.text for token in long_text if not token.is_stop and not token.is_punct]
token_frequency=Counter(list_of_tokens)
print(token_frequency)

Counter({'Gangtok': 18, 'capital': 9, 'Sikkim': 8, 'India': 8, 'state': 5, 'Indian': 4, 'British': 4, 'construction': 3, 'Sikkimese': 3, 'century': 3, 'trade': 3, 'Tibet': 3, 'independence': 3, 'largest': 2, 'pilgrimage': 2, 'Enchey': 2, 'Monastery': 2, '1840': 2, '1894': 2, 'Chogyal': 2, 'Thutob': 2, 'Namgyal': 2, 'early': 2, 'major': 2, 'stopover': 2, '1947': 2, 'monarchy': 2, '1975': 2, 'built': 2, 'new': 2, 'buildings': 2, 'Nathula': 2, 'passes': 2, 'city': 1, 'municipality': 1, 'town': 1, 'headquarters': 1, 'East': 1, 'district': 1, 'eastern': 1, 'Himalayan': 1, 'range': 1, 'elevation': 1, '1,650': 1, 'towns': 1, 'population': 1, '100000': 1, 'different': 1, 'ethnicities': 1, 'Bhutia': 1, 'Lepchas': 1, 'Gorkhas': 1, 'higher': 1, 'peaks': 1, 'Himalaya': 1, 'year': 1, 'round': 1, 'mild': 1, 'temperate': 1, 'climate': 1, 'centre': 1, 'Sikkims': 1, 'tourism': 1, 'industry': 1, 'rose': 1, 'prominence': 1, 'popular': 1, 'Buddhist': 1, 'site': 1, 'ruling': 1, 'transferred': 1, '20th': 1, 'route': 1, 'Lhasa': 1, 'cities': 1, 'Kolkata': 1, 'Calcutta': 1, 'won': 1, 'Britain': 1, 'chose': 1, 'remain': 1, 'independent': 1, 'integration': 1, 'union': 1, 'Indias': 1, '22nd': 1, 'Like': 1, 'rest': 1, 'known': 1, 'history': 1, 'earliest': 1, 'records': 1, 'date': 1, 'hermitic': 1, 'monastery': 1, '1716.[7': 1, 'remained': 1, 'small': 1, 'hamlet': 1, 'center': 1, 'left': 1, 'English': 1, 'conquest': 1, 'mid-19th': 1, 'response': 1, 'hostage': 1, 'crisis': 1, 'defeat': 1, 'Tibetans': 1, 'end': 1, '19th': 1, 'roads': 1, 'telegraph': 1, 'area': 1, 'time': 1, 'monarch': 1, 'rule': 1, 'shifted': 1, 'Tumlong': 1, 'increasing': 1, 'citys': 1, 'importance': 1, 'grand': 1, 'palace': 1, 'Following': 1, 'nation': 1, 'came': 1, 'suzerainty': 1, 'condition': 1, 'retain': 1, 'treaty': 1, 'signed': 1, 'Prime': 1, 'Minister': 1, 'Jawaharlal': 1, 'Nehru.[9': 1, 'pact': 1, 'gave': 1, 'Indians': 1, 'control': 1, 'external': 1, 'affairs': 1, 'behalf': 1, 'Trade': 1, 'continued': 1, 'flourish': 1, 'Jelepla': 1, 'offshoots': 1, 'ancient': 1, 'Silk': 1, 'Road': 1, 'near': 1, 'border': 1, 'sealed': 1, 'Sino': 1, 'War': 1, '1962': 1, 'deprived': 1, 'trading': 1, 'business.[10': 1, 'pass': 1, 'finally': 1, 'opened': 1, 'limited': 1, '2006': 1, 'fuelling': 1, 'hopes': 1, 'economic': 1, 'boomIn': 1, 'years': 1, 'political': 1, 'uncertainty': 1, 'struggle': 1, 'including': 1, 'riots': 1, 'abrogated': 1, 'second': 1, 'referendum': 1, 'witnessed': 1, 'annual': 1, 'landslides': 1, 'resulting': 1, 'loss': 1, 'life': 1, 'damage': 1, 'property': 1, 'disaster': 1, 'occurred': 1, 'June': 1, '1997': 1, '38': 1, 'killed': 1, 'hundreds': 1, 'destroyed': 1})

In [113]:
most_frequent_tokens = token_frequency.most_common(6)
print(most_frequent_tokens)

[('Gangtok', 18), ('capital', 9), ('Sikkim', 8), ('India', 8), ('state', 5), ('Indian', 4)]

In [115]:
text='Nitika was screaming out loud as usual Her roommate kept ignoring her '
text_doc=nlp(text)
for token in text_doc:
    print(token.text.ljust(10), '-------', token.pos_)

Nitika     ------- PROPN
was        ------- AUX
screaming  ------- VERB
out        ------- ADP
loud       ------- ADJ
as         ------- ADP
usual      ------- ADJ
Her        ------- PRON
roommate   ------- NOUN
kept       ------- VERB
ignoring   ------- VERB
her        ------- PRON

In [116]:
with open('robotics.txt') as file:
    robot_text=file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'robotics.txt'

In [119]:
robot_text = """The rocks make up the earth that has been around for billions of years. Similarly, water also makes up the earth. In fact, water covers 70% of the surface. It includes the oceans that you see, the rivers, the sea and more.

Thus, the remaining 30% is covered with land. The earth moves around the sun in an orbit and takes around 364 days plus 6 hours to complete one round around it. Thus, we refer to it as a year.

Just like revolution, the earth also rotates on its axis within 24 hours that we refer to as a solar day. When rotation is happening, some of the places on the planet face the sun while the others hide from it.

As a result, we get day and night. There are three layers on the earth which we know as the core, mantle and crust. The core is the centre of the earth that is usually very hot. Further, we have the crust that is the outer layer. Finally, between the core and crust, we have the mantle i.e. the middle part.

The layer that we live on is the outer one with the rocks. Earth is home to not just humans but millions of other plants and species. The water and air on the earth make it possible for life to sustain. As the earth is the only livable planet, we must protect it at all costs."""
robot_doc = nlp(robot_text)
robot_doc = [token for token in robot_doc if not token.is_stop and not token.is_punct]

In [120]:
all_tags = {token.pos: token.pos_ for token in robot_doc}
print(all_tags)

{92: 'NOUN', 86: 'ADV', 100: 'VERB', 93: 'NUM', 103: 'SPACE', 89: 'CCONJ', 85: 'ADP', 84: 'ADJ', 101: 'X'}

In [122]:
nouns=[]
verbs=[]

for token in robot_doc:
    if token.pos_ =='NOUN':
        nouns.append(token)
    if token.pos_ =='VERB':
        verbs.append(token)

print('List of Nouns in the text\n',nouns,"\n")
print('List of verbs in the text\n',verbs)

List of Nouns in the text
 [rocks, earth, billions, years, water, earth, fact, water, surface, oceans, rivers, sea, land, earth, sun, orbit, days, hours, round, year, revolution, earth, axis, hours, day, rotation, places, planet, sun, result, day, night, layers, earth, core, mantle, crust, core, centre, earth, crust, layer, core, crust, mantle, layer, rocks, Earth, home, humans, millions, plants, species, water, air, earth, life, earth, planet, costs]

List of verbs in the text
 [makes, covers, includes, remaining, covered, moves, takes, complete, refer, rotates, refer, happening, face, hide, know, live, sustain, protect]

In [123]:
numbers=[]

for token in robot_doc:
    if token.pos_=='X':
        print(token.text)

i.e.

In [125]:
junk_pos=['X','SCONJ']

def remove_pos(word):
    flag = False
    if word.pos_ in junk_pos:
        flag = True
    return flag

revised_robot_doc = [token for token in robot_doc if remove_pos(token)==False]

all_tags = {token.pos: token.pos_ for token in revised_robot_doc}
print(all_tags)

{92: 'NOUN', 86: 'ADV', 100: 'VERB', 93: 'NUM', 103: 'SPACE', 89: 'CCONJ', 85: 'ADP', 84: 'ADJ'}

In [126]:
my_text='Ardra fell into a well and fractured her leg'
my_doc=nlp(my_text)

for token in my_doc:
    print(token.text, '------', token.dep_)

Ardra ------ nsubj
fell ------ ROOT
into ------ prep
a ------ det
well ------ pobj
and ------ cc
fractured ------ conj
her ------ poss
leg ------ dobj

In [127]:
my_text="The robot displayed its functions on the big screen  The audience applauded"
my_doc=nlp(my_text)

for token in my_doc:
    print(token.text,'---',token.head.text)

The --- robot
robot --- displayed
displayed --- displayed
its --- functions
functions --- displayed
on --- displayed
the --- screen
big --- screen
screen --- on
  --- displayed
The --- audience
audience --- applauded
applauded --- displayed

In [130]:
robot_text = """The rocks make up the earth that has been around for billions of years. Similarly, water also makes up the earth. In fact, water covers 70% of the surface. It includes the oceans that you see, the rivers, the sea and more.

Thus, the remaining 30% is covered with land. The earth moves around the sun in an orbit and takes around 364 days plus 6 hours to complete one round around it. Thus, we refer to it as a year.

Just like revolution, the earth also rotates on its axis within 24 hours that we refer to as a solar day. When rotation is happening, some of the places on the planet face the sun while the others hide from it.

As a result, we get day and night. There are three layers on the earth which we know as the core, mantle and crust. The core is the centre of the earth that is usually very hot. Further, we have the crust that is the outer layer. Finally, between the core and crust, we have the mantle i.e. the middle part.

The layer that we live on is the outer one with the rocks. Earth is home to not just humans but millions of other plants and species. The water and air on the earth make it possible for life to sustain. As the earth is the only livable planet, we must protect it at all costs."""
robot_doc = nlp(robot_text)

sentences=list(robot_doc.sents)

for sentence in sentences:
    print(sentence.root)

make
makes
covers
includes
covered
moves
refer
rotates
face
get
are
is
have
have
is
is
make
protect

In [132]:
print([token.text for token in robot_doc[5].children])

['the', 'been']

In [133]:
print (robot_doc[5].nbor(-1))

the

In [134]:
print (robot_doc[5].nbor(5))

for

In [135]:
sentence = " John and Emily are from India , they work at Yahoo"

In [137]:
import nltk
nltk.download('averaged_perceptron_tagger')
from nltk import word_tokenize, pos_tag
tokens=word_tokenize(sentence)
tokens_pos=pos_tag(tokens)
print(tokens_pos)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...

[('John', 'NNP'), ('and', 'CC'), ('Emily', 'NNP'), ('are', 'VBP'), ('from', 'IN'), ('India', 'NNP'), (',', ','), ('they', 'PRP'), ('work', 'VBP'), ('at', 'IN'), ('Yahoo', 'NNP')]

[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

In [138]:
from nltk import ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [139]:
named_entity=ne_chunk(tokens_pos)
print(named_entity)

(S
  (PERSON John/NNP)
  and/CC
  (PERSON Emily/NNP)
  are/VBP
  from/IN
  (GPE India/NNP)
  ,/,
  they/PRP
  work/VBP
  at/IN
  (ORGANIZATION Yahoo/NNP))

In [140]:
#Implementation through spaCy
sentence=' The building is located at London. It is the headquaters of Yahoo. John works there. He speaks English'
doc=nlp(sentence)

In [142]:
for entity in doc.ents:
    print(entity.text,'--',entity.label_)

London -- GPE
Yahoo -- ORG
English -- LANGUAGE

In [143]:
news_articles='Restaurant inspections: Space Coast establishments fare well with no closures or vermin Despite strong talk Tallahassee has a lot more to do for Indian River Lagoon | Opinion Kelly Slater-coached surfer from Cocoa Beach wins national title in Texas Despite parachute mishap Boeing Starliner pad abort test a success Vote for FLORIDA TODAY Community Credit Union Athlete of the Week for Oct 28-Nov 2 Brevard diners rave about experiences at Flavor on the Space Coast restaurants Heres what you need to know about Tuesdays municipal elections in Brevard County Save the turtles rally planned to oppose Satellite Beach hotel-condominium project Elon Musk wants humans to colonize space Brad Pitt shows thats easier said than done Google honors actor Will Rogers with new Doodle SpaceX targeting faster deployment of Starlink internet-beaming satellites Rockledge Cocoa hold while Merritt Island gains traction in state football polls Boeing launches and lands Starliner capsule for pad abort test in New Mexico Eight of the 10 most dangerous metro areas for pedestrians are in Florida report says Brevard faith leaders demand apology in open letter to Bill Mick How a Delaware researcher discovered a songbird can predict hurricane seasons Open doors change lives: United Way of Brevard kicks off 2019 campaign Florida man pleads guilty to killing sawfish by removing extended nose with power saw One-woman comedy Excuse My French at Viera Studio dives into authors mind Letters and feedback: Sept 19 2019 Viera talk will highlight technology used for dementia patients Adamson Road open after dump truck crash spilled sand and fuel one injured From the mob to mob movies with Robert De Niro: Meet Larry Mazza former hitman Irishman consultant Tropical Storm Jerry getting stronger in Atlantic; Hurricane Humberto nearing Bermuda Palm Bay Halloween party homicide suspect turns self in police say Fall playoffs: Satellite XC boys win region; Titusville swimmers second Sounds of celebration during Puerto Rican Day Parade in Palm Bay Tractor trailer fire extinguished on I-95 in Cocoa lanes open Logan Harvey bowls a 279 to help Astronaut beat Space Coast in battle of undefeated teams Letters and feedback: Sept 18 2019 Accelerated bargaining a bust as teachers union walks out on second day of pay talks Traffic Alert: Puerto Rican Day Parade set for Palm Bay County commissioners debate biosolids at first of two public hearings US 1 widening in Rockledge under study along with sidewalks and bike lanes Letters and feedback: Nov 3 2019 Titusville man indicted on first-degree murder charge Rockledge Cocoa lead 8 Brevard HS football teams into playoffs Space Coast Junior Achievement accepting business hall of fame nominations Why Brevards proposed moratorium on sewage sludge isnt enough |Rangel Brevard high school football standings after Week 4 Starbucks might build new store at old Checkers site in West Melbourne on US 192 Police search for Palm Bay shooting suspect in Orlando area Does your drivers license have a gold star? Well you need one Cocoa man charged with arson in blaze at triplex where 16 children were celebrating a birthday Unit and lot owners may inspect their ledgers upon written request Palm Bay veteran officer Nelson Moya chosen as police chief By the numbers: Your link to every state salary and what high ranking Florida officials make Longtime state county legislative aide Furru honored by County Commission Week 11: Rockledge pulls out BBQ win; EG Palm Bay Astro win rivalry games County commissioners allocate $446 million to repair South Beaches after Hurricane Dorian Tour of Brevard: Holy Trinity Tigers County Commission begins shakeup of its bloated advisory boards while adding term limits Mystery Jesus plaque washes ashore near Melbourne Beach thanks to Hurricane Humberto waves Widow of combat veteran who died after fight at Brevard Jail appeals to governor Health calendar: June 27-July 4 Going surfing this weekend? Check our wave forecast Have you ever seen a turtle release? Heres your chance Darkness turns to day as SpaceX Falcon Heavy launches from Kennedy Space Center Losing hair in strange places? It could be Alopecia areata Golf tip: Pairing and tee times on the PGA Tour NOAA updates projections saying above normal season could see 5-9 hurricanes 2-4 of them major Cape Canaveral Hospital relocation: Loss of a landmark hopeful future for healthcare and land How do I get adult child to move out start own life? The Atlas V rockets jellyfish in the sky Scores: High school football Week 11 in Brevard County Florida gator caught on camera munching on plastic at St Marks National Wildlife Refuge Q&A: New Melbourne head football coach Tony Rowell Does the First Amendment go too far? | Opinion FHSAA says it has a contingency plan if football associations strike but wont reveal it Tropical Depression Ten forms in central Atlantic; Hurricane Humberto continues to strengthen Updates: Watch SpaceX launch its Falcon Heavy rocket from Kennedy Space Center in Florida Letters and feedback: May 9 2019 The Good Stuff: Soccer star makes Wheaties cover cookies in space and more Highly anticipated pad abort test of Boeingâ€™s Starliner spacecraft is Monday morning Health calendar: Sept 19-26 Naked man running through Titusville Walmart parking lot arrested Lacking money and manpower West Melbourne considers swapping school SROs for armed guards Worst best airports in country: 3 Florida airports make Top 5 worst list Colorado STEM school shooting impacted my family: When will we say enough? | Bellaby Human ashes Legos and a sandwich: Strange things we sent into space Massive 2600-acre burn underway near Brevard County line Health Pro: Trip to Philippines validated nurses career decision Harry Anderson Palm Bays Sitting Man exposes gaps in helping the homeless Brevard School Board splits 4-1 in favor of district plan for teacher pay; union vows war Whos No 1? See the Brevard high school football rankings after Week 4 3 people taken into custody after multiple agencies tracked them at high speeds across Central Florida As dawn breaks over Florida ULA Atlas V rocket lights up morning sky Why breast cancer was called Nuns disease Space Coast-based Rocket Crafters partners with Swiss tech giant RUAG Investigation continues for Palm Bay double killing in 2018 Canâ€™t breastfeed? Tips to provide same nutrition to baby Former Florida Tech golfer Iacobelli wins playoff in Michigan for third pro title Baseball bliss every 50 years: Letâ€™s go Mets! Letâ€™s go Nats! 5 tips to make your holiday travel stress-free Updates: ULA launches Atlas V rocket military satellite from Cape Canaveral Andrew Reed bowls 274 in Eau Gallie win over Satellite Space industry propels Brevard economy into optimistic future; highlights from EDC investors meeting Governor DeSantis signs bill geared toward expanding vocational training Outage leaves 12500 customers without power in Melbourne for nearly an hour Weak cold front brings fall weather after unusually warm October on Space Coast 321 Launch: The space news you might have missed Teacher pay: Union opens pay talks with raise demand supplement for veteran teachers Tour of Brevard: Bayside Bears Youth fishing tournament coming Saturday to Melbourne President Trump heres what Hurricane Michael damage still looks like today Letters and feedback: Aug 8 2019 Man leads police on 100 mph chase through Melbourne Palm Bay Puerto Rican parade to take place this weekend in Palm Bay Viera-based USSSA Pride depart from pro softball league Tip of organized theft ring targeting boats motors leads to arrest of 3 men in Melbourne Multiple crashes slow I-95 traffic near Melbourne Is it time to reconsider how free speech should be? | Bill Cotterell SPCA of Brevard takes influx of cats and dogs from Glades County Brevard residents share some of their favorite recent dining experiences Tuesdays brewery running tour stops at Florida Beer Co in Cape Canaveral 89-year-old Tallahassee Grandma Bunny battles 6-foot snake after it eats visiting birds The horrors of Dorian parallel another nearby tragedy of historic proportions EFSCs Carter Stewart named NJCAA Region 8 Pitcher of the Week Titusville teenager charged with murder of grandfather If Trump bans vape flavors Brevard shops say theyll be out of business Cabana: NASAs Artemis is space explorations next giant leap | Opinion Florida continues cutting phone cords BSOs Confessore starting 25th year as music director High school sports results: May 7 Libraries busy with summer reading programs Four hurricanes in six weeks? Remember 2004 the year of hurricanes Letters and feedback: Nov 2 2019 Letters and feedback: May 8 2019 As Brevard kids head back to school here are five things to make lunchtime happy healthy Palm Bay police investigate overnight shooting that left one dead Rent takes the stage at two playhouses Cinderella Brighton Beach Memoirs arrive on Brevard stages this weekend Junes Saharan dust setting up right conditions for red tide but still too soon to tell Wizarding World of Harry Potter: Dark Arts unleashed on Hogwarts Castle at Universal Orlando Health First restructuring: What we know (and what we dont) From Jack in the Box to In-N-Out Burger: 7 restaurant chains missing in Florida SpaceX anomaly: No further action needed on Crew Dragon explosion cleanup Vietnam War mural pits residents vs Florida community Matter settled  unhappily British cruise line Marella to sail from Port Canaveral in 2021 Kids are at risk as religious exemptions to vaccines spike in Florida Brevard County crime rate falls in 2018 reflecting statewide trend according to FDLE report Florida-Georgia FSU-Miami: Why Saturday afternoon is a college football party in Florida Restaurants in Viera Suntree Port Canaveral Palm Bay Melbourne Beach draw Flavor raves Vote for the FLORIDA TODAY Community Credit Union Athlete of the Week for Sept 9-14 Whats happening May 15-21: Concert in Cocoa summer camps fun fair in Melbourne Port Authority Secretary/Treasurer Harvey seeks more public input at evening meetings SpaceX Falcon Heavy rocket launch: Where to watch from Space Coast Treasure Coast Volusia County Tallahassee Here are 10 of Arizonas most photogenic spots Some of them might surprise you Rockledge police search for suspects after armed robbery Kardashian production features Palm Bay homicide involving sisters-in-law FLORIDA TODAY journalist The holidays are almost here; Space Coast cooks are prepping special meals now How to watch tonights SpaceX Falcon Heavy launch from Kennedy Space Center in Florida New state budget spending wish list includes bug studies lionfish contests stronger coastlines Wheaties: Team USA soccer star Ashlyn Harris make cereal cover and it costs $23 a box Letter carriers Stamp Out Hunger food drive is Saturday May 11 Suzy Fleming Leonard: Fourth-graders talk about journalism share favorite restaurants Falcon Heavys night launch may be seen across portion of Sunshine State Police: Palm Bay teacher jerked autistic student from bus faces abuse charge Kicking axe: Urban axe throwing makes its debut in Brevard as trending sport stress reliever Palm Bay official Andy Anderson hired as Mexico Beach city administrator on Florida Panhandle Daddy Duty: Are we celebrating Mothers Day the right way? Father of 6 dies trying to save sons from rip current in Cocoa Beach Its time we address lack of affordable housing on Space Coast | Opinion Orlando Pride soccer player from Brevard diagnosed with breast cancer Space Coast bus system: Lets peck away at this problem County Commission chair says Do lovebugs have a purpose beyond annoying us all twice a year? Hurricane Humberto continues to strengthen swells expected to affect East-Central Florida surf One more launch this week; Things to know about ULA Atlas V launch from Cape Canaveral Free self-defense class for women this Friday in Cocoa Beach The farce behind blaming video games for El Paso Dayton mass shootings | Rangel Teacher pay talks take new shape as school district and union vow to work together First-place USSSA Pride on hot streak; Bennett on ESPNs Top Plays A legacy of giving: When it comes to giving back Judy and Bryan Roub lead by example Staph infection can come from ocean water beach sand; Florida man gets it from sandbar Its Launch Day! Things to know about SpaceX Falcon Heavy launch from Kennedy Space Center Viera 6 more Brevard HS softball teams enter playoffs Enjoy Jack Daniels tastings in Cocoa Village and Melbourne this month Brevard County location comes in at No 7 on list of US cities that get the most sun Letters and feedback: Oct 31 2019 Vietnam veteran receives settlement from Veterans Affairs  after waiting 20 years Brevard restaurants with outdoor seating wage war against lovebugs Aldi adds beer sparkling wine and dog treats to its collection of Advent calendars If millennials choose socialism fine Just dont make this mistake Gardening: Adding a tree to your Florida landscape? Southern redcedar is a great option Big Brevard high school football rivalries vary in postseason implications 6 hurricanes and 12 named storms predicted for remainder of 2019 hurricane season Cocoa man suspected of firing shots with unwitting mother in tow faces multiple charges Dogs on the beach? County Commission rejects proposal to allow dogs on South Brevard beaches Letters and feedback: Sept 15 2019 Despite weather odds SpaceX launches Falcon 9 rocket from Cape Canaveral Cyberstalking of alleged battery victim lands Rockledge man back in jail Winds are coming back again but inshore fishing is excellent for redfish and trout Exclusive: Trump administration sets plans for 2019 hurricane season after wakeup call of recent disasters Melting Pot: Intimacy of a shared meal makes this Viera spot perfect for date night The Chefs Table: Fine meat seafood draw diners to this Suntree favorite Holmes nurse arrested accused of sexual battery on a patient Tour of Brevard: Satellite Scorpions Djons Steak & Lobster House: Discover old-Florida elegance in Melbourne Beach restaurant Judicial Nominating Commission chair resigns claims governors office interfered with independence Medical marijuana firms seek to open more storefronts in Florida Brevard School votes 4-1 to support superintendents plan for teacher raises; audience not happy Tracking Brevards stars: Arena football champ UCF star PBA rookie lead the way Brevard school district miscalculated attrition savings finds $15 million for teacher pay Brevard high school cross country honor roll Oct 31 NASA Kennedy Space Center team wins Emmy for coverage of SpaceX mission Golf tip: Making adjustments to correct your swing Cruise ship rescues and mishaps: 6 times emergency struck on Royal Caribbean Carnival more Updates: SpaceX launches Falcon 9 from Cape Canaveral Air Force Station Secular group challenges In God We Trust motto on Brevard sheriffs patrol vehicles Chemicals in sunscreen seep into your bloodstream after just one day FDA says Cottage Rose mural dispute resolved in Indialantic after owner applies for permit Humberto strengthens into a hurricane as it moves away from Space Coast; NHC watching 2 more Planting herbs to cutting back on water heres what to do in your Brevard yard this month Viera Suntree Little League team heads to Michigan for Junior World Series We must prevent human trafficking through education | Opinion Please dont eat the deer Family spots Florida panther wandering around Estero backyard Man found hanging onto side of kayak in Atlantic Ocean off Patrick Air Force Base SpaceX set to launch Falcon Heavy on mission with 24 payloads â€“\xa0including human ashes Erin Baird is 2019 Volunteer of the Year finalist in FLORIDA TODAY Volunteer Recognition Awards ZZ Top Steve Martin and Martin Short coming to King Center Needy Brevard students sleep easier on new beds donated from Ashley HomeStore These fitness trends are worth sticking with over time Florida saw fewer infections from Vibrio vulnificus (aka flesh-eating bacteria) in 2018 Health calendar: April 25-May 2 Young actresses shine in Matilda at Titusville Playhouse Freshman quarterback Gabriel leads UCF over Stanford in Orlando John Daly is 2019 Volunteer of the Year finalist in FLORIDA TODAY Volunteer Recognition Awards Health Pro: Doctors interest grew out of childhood health issues More strong storms move eastward over Brevard; funnel clouds possible in Viera Nurse at Holmes Regional Medical Center arrested on suspicion of sexual battery Strong isolated showers heat impacting Brevard County Brevard firefighters widow wins $9 million verdict in Dominos Pizza delivery death Housing providers may be prohibited from rejecting renters on basis of arrest record 10-foot great white shark Miss May pings off Satellite Beach Palm Bay man 22 dies in overnight crash on Floridas Turnpike Tamara Carroll is 2019 Volunteer of the Year finalist in FLORIDA TODAY Volunteer Recognition Awards Tropical Storm Humberto not expected to affect Space Coast; NHC watching two more disturbances Theater veteran Blackledge passes away unexpectedly Ten dead issues from the 2019 legislative session Letters and feedback: June 23 2019 Rockledge Cocoa win big as Space Coast takes Holy Trinity in OT Surfers can enjoy chest-high waves most of weekend in Brevard Plan ahead for Aug 14-20: Space Coast Symphony performs Mikado Chef Larry tweaks hours Daylight saving time ends on Nov 3 Here are 7 facts to know about the time change Two new Royal Caribbean ships including second largest in world move to Port Canaveral Fla Sen Debbie Mayfield files bill to define e-cigarettes liquid nicotine as tobacco products Escape the hustle and bustle for a western getaway Missing Palm Bay teen found in South Carolina; mother arrested police say Impossible burger Impossible Cottage Pie make 2019 Epcot Food and Wine Festival menu Got bats? Why you need to get rid of them by Tax Day 2 charged with attempted murder; Titusville police say they pistol-whipped waterboarded force-fed him dog food Bicyclist dies in hit-and-run crash on US 1 near Cocoa Group: St Johns River pollution threatens water supplies Rockledge man charged after hoax to shoot up Merritt Island Walmart Man awarded $80M in lawsuit claiming Monsantos Roundup causes cancer Astronauts Alisa Rendina won FLORIDA TODAY Community Credit Union Athlete of the Week vote Alligators and airboats: How to explore Everglades National Park in one day Longtime educator church mother and humanitarian Johnnie Mae Riley remembered in Palm Bay George Clooney astronauts to attend black-tie event at Kennedy Space Center High school sports results: March 27 Bill Nye visits Cocoa Beach ahead of SpaceX Falcon Heavy launch from Kennedy Space Center Health First to relocate Cape Canaveral Hospital to Merritt Island open new facilities Letters and feedback: Aug 7 2019 Duran to host top area amateur golfers this weekend Buckaroo Ball benefits Harmony Farms Get ready to rumble: Atlas V blasting off early Thursday morning War on lovebugs: Social media reactions tweets memes about pesky bugs cars windshields Master association that contains condominiums may be able to collect capital contribution The new LEGO Movie World opens at LEGOLAND River Rocks: Enjoy fresh seafood and river views at this Rockledge tradition March 27: Panthers Walk It Off 10 takeaways from the presidents campaign kickoff visit to Orlando Cocoa man arrested on manslaughter charges after Sharpes shooting Corrections & Clarifications Accused burglars hit five south Brevard stores before Melbourne officer shot one of them Brevard family to receive Filipino World War II veterans Congressional Gold Medal NASA: Want to go to the moon in five years? We need more money How to REALLY clean lovebugs off your windshield car house Top party schools: Florida Florida State make it to top of Princeton Reviews 2020 list Live scores: High school football Week 4 in Brevard County Restaurant inspections: Happy Kitchen in West Melbourne Divine Grace in Palm Bay closed after inspections School district sticks to $770 raise offer for teachers; special magistrate getting involved Candidate lineup is set for 2019 municipal special district elections in Brevard Death investigation underway after mans body found in Titusville ditch November hurricane forecast: Season not technically over but its over | WeatherTiger Tyndall Air Force Bases future remains uncertain after devastation from Hurricane Michael Whats behind a low performing school? Crummy parents | Opinion Well known Chevrolet dealership has The Right Stuff Lovebugs are back Many hate them Experts say theyre here for good The lax disciplinary policies that caused\xa0Parkland massacre may have spread to your school Port Canaveral commissioners tackle parking issues: 10 things to know Melbourne woman injured in crash dies from her injuries; police looking for witnesses Senate President Galvano calls for Florida lawmakers to focus on mass shootings Governor DeSantis approves $91 billion budget slashes $133 million in local projects Letters and feedback: March 28 2019 Vote for 321prepscom Community Credit Union Athlete of the Week for April 29-May 4 South Patrick Shores approved for federal cleanup program Island H2O Live! water park in Kissimmee opens: Make the plunge or chill in lazy river Travis Proctor is 2019 Citizen of the Year finalist in FLORIDA TODAY Volunteer Recognition Awards Vietnam War 50th anniversary to be remembered at Cape Canaveral National Cemetery Its launch day! Things to know about SpaceX Falcon 9 launch from Cape Canaveral NASA gave Artemis contractors bonuses despite delays and cost overruns GAO says Michael Bloom is 2019 Citizen of the Year finalist in FLORIDA TODAY Volunteer Recognition Awards Health Pro: Eye doctor honed skills on aircraft carrier Brevard pitchers fare well in state horseshoe event The real reason NASAs all-female spacewalk is not happening Hint: Its not discrimination Port Canaveral aquarium the best use of tourism dollars | Opinion SpaceX Falcon Heavy will carry worlds first green rocket fuel mission School District union at odds on whats actually available for teacher raises | Opinion Nuclear power is too costly and too risky Jarvis Wash is 2019 Citizen of the Year finalist in FLORIDA TODAY Volunteer Recognition Awards SpaceX Dragon installed at ISS after launch from Cape Canaveral Rare phenomenon: Hail damage from unusual thunderstorm has Brevard residents talking Signs you live on the Space Coast Titusville couple charged with neglect after infant found malnourished Health coaches a personal way to help you meet goals New Viera elementary school to break ground in fall fast-tracked to open August 2020 Phase out nuclear power? Elizabeth Warren and Bernie Sanders locked in absurd arms race Strange days: Space Coast gets freak hail flaming meteor mysterious rumble red tide over 6 months Four women arrested on prostitution charges in ongoing Melbourne enforcement detail Whose name is on deed - partner or spouse? It matters a lot Florida should steer clear of drug importation from other countries | Opinion Melbourne police investigate Palm Bay Road shooting Brevard bowlers head to state tournament off district wins Florida Historical Societys May 16-18 conference: Countdown to History: Ice Age to the Space Age Turning the Toxic Tide: Florida must address the problem of human waste Contributions pour in to group seeking to ban possession sale of assault weapons in Florida Why Disney World sweets treats desserts are SO worthy of Instagram Satellite Beach girl 10 leads charge for organ donation Poliakoff: Community development district offers different advantages and disadvantages to an HOA Florida Tech in Melbourne hosts International Dinner with food from South Latin America From discovering water to snapping selfies: The lasting memories of Mars rover Opportunity Charges dropped against Texas man after comments against Cocoa Beach hotel werent direct specific threat Brevard Federation of Teachers just cant say yes to raise offers | Opinion How Mars Opportunity rover ranks in list of more than 1000 unmanned space missions by NASA since 1958 321 Flavor members rave about Fresh Scratch Bistro Sushi Factory and Beachside Seafood Texas man recovering after shark bite in Florida Buckeye the manatee rescued again by SeaWorld Rain hail pelts north central Brevard County causing widespread damage Regulators approve merger of Harris L3; deal to close June 29 Teachers approve largest pay raise in years but will it keep them in Brevard? Restaurant review: Continental Flambe in Melbourne shows great promise Weak cool front could bring torrential rain damaging winds to Space Coast Officials: Removing Beachline earthen causeways would improve Banana River water quality Buzz Aldrins outfit is everything in photo of last remaining Apollo astronauts Voting Republican only helps if youre rich | Opinion Homelessness: A national problem with a local solution EPA plans to regulate cancer-causing chemicals found in Americas drinking water UCF has chance to wow recruits playoff voters with a win over Stanford Ping-pong-sized hail pounds Space Coast as severe thunderstorms move through area Harris CEO optimistic about merger finances as deal with L3 nears completion March 26: EFSCâ€™s Carter Stewart named NJCAA Region VIII Pitcher of the Week Knife-wielding suspect leads deputies officers on foot chase in Melbourne 4 Brevard winners in girls regional basketball Thursday March 26: Womenâ€™s Golf Finishes Runner-Up at Barry Invite Some seek healing remembrance at arrival of Vietnam War replica wall High school sports results: March 26 Following surge in discipline problems Brevard students ask lawmakers to address vaping in schools Titusville man 21 pronounced dead after trying to make a U-turn on South Street Donald Trumps criminal justice reform shows results | Opinion Florida cold case solved 22 years later after Google Earth satellite image shows missing mans car Health calendar: Aug 8-15 Tracking Brevards stars: Harris to World Cup; Dawson in golf hunt; Allen Taylor hitting 300 Satellite Beach hotel condo towers homes slated for 27 acres by Hightower Beach park Letters and feedback: Sept 14 2019 Mike Martin Jr to be named Florida States new baseball coach Golf tip: Hit down on hybrids similar to how you hit an iron Stormy weather moves across Space Coast bringing lightning heavy rain Commission OKs pay raises for 625 county employees to address disparities turnover High school sports results: Feb 14 weVENTURE is 2019 Organization of the Year finalist in FLORIDA TODAY Volunteer Recognition Awards Man taken to hospital after domestic incident in Titusville Brevard school district considers selling $800000 in unused land Weather looks OK for SpaceX Falcon Heavy launch from Kennedy Space Center 321 Flavor: Margarita tops the list of Brevards favorite cocktails UCF experiment and Citronaut fly to space on Blue Origins New Shepard Bridges sex assault: Victimâ€™s family sues nonprofit caregiver over pregnancy Sheriff Ivey and Brevard emergency officials send mixed messages during Dorian New proposal on dog cat sales at pet stores is less restrictive than previous one Space Coast Honor Flight is 2019 Organization of the Year finalist in FLORIDA TODAY Volunteer Recognition Awards It goes by so quickly: Brevard teachers back to work as days count down to school County commissioners reject lagoon funding plan saying they want less money for muck projects Yuck! Hypodermic needles stabbing employees inside Brevard recycling plant Hard-line anti-illegal immigration group works to sway sanctuary cities bill Titusville High School principal retires amid accusations of hostile environment Pol Potâ€™s deputy Nuon Chea architect of bloody Khmer Rouge policy dead at 93 in Cambodia NASAs new goal: Land astronauts on the moon by 2024 Going surfing this weekend? Check our forecast Neighbor Up is 2019 Organization of the Year finalist in FLORIDA TODAY Volunteer Recognition Awards Severe storms bring wind lightning and possible hail across Brevard Starbucks in Indialantic West Melbourne may move to larger stores with drive-thru windows SpaceX Falcon Heavy: Why everyone should watch this night launch from Kennedy Space Center Fishing report: Calm seas and good fishing ahead Two World Series commercials feature Brevard celebrities Letters and feedback: May 5 2019 In latest motion US Attorney confirms multiple investigations in Tallahassee Lane 70 softball team wins spring tournament Palm Bay police double down on nightclub safety following four violent episodes Relativity Space signs deal to deliver small satellites to more orbits HBO documentary new surf movie spotlight surf legends Kelly Slater Hobgood twins Plan ahead for April 3-10: Music in Melbourne adult prom in Titusville; art in Eau Gallie Family grieves woman fatally struck by car near Lous Blues bar in Melbourne At Cape Canaveral SpaceX kicks off Star Wars Day with smoke and fire Updates: SpaceX launches Falcon 9 from Cape Canaveral to ISS sticks drone ship landing Letters and feedback: March 27 2019 Florida Tech to host event celebrating Apollo 11 anniversary and future of US space program Boeing on Starliner orbital flight test: We really are close Florida Tech spring football game set for Saturday Feb 14: EFSC womenâ€™s golfer Kacey Walker nominated for 2019 Arnold Palmer Cup Four Panthers Selected to All-SSC Teams Heavy winds and lightning to hit north Brevard County How Ron DeSantis is shaking up the establishment | Opinion High school sports results: May 3 Palm Bay man who asked woman for permission to have illicit sexual encounter with child sentenced Letters and feedback: June 22 2019 Air Force pumped for two launches less than 48 hours apart Heres why NASA scrubbed all-female spacewalk Plan ahead for Nov 6-12: Holiday bazaar in Suntree pet events art openings and food fun Edgewoods Jon Wang shoots one under par for second time this week Burglar steals bolted safe from Melbourne bar in latest smash-and-grab Feb 14: Florida Tech Suffers Last-Second Heartbreaker Against Saint Leo Daddy Duty: My school cheating scandal is an example for my 4-year-old Tropical Storm Humberto forms but isnt expected to affect Space Coast Air Force weather squadron key player in ensuring successful rocket launches Ronsisvalle: Getting through to the disconnected husband How to watch SpaceX launch its Falcon 9 rocket from Cape Canaveral Air Force Station Members of Brevards Bahai Faith community come together to commemorate twin holy days A&Es Tiny House Nation to feature Melbourne tiny home builder Movable Roots Lawmakers grapple with felons voting rights All-female spacewalk canceled due to lack of medium-sized spacesuits Twitter reacts Medical marijuana and 3 other school district policy changes you should know about Felons rights bill heads to Gov DeSantis Lanes open delays persist after Crash on I-95 near Wickham Road Former UCF chair resigns day after Rep Randy Fine proposes UC'

In [144]:
news_doc = nlp(news_articles)

list_of_people= []

for token in news_doc:
    if token.ent_type_ == 'PERSON':
        list_of_people.append(token.text)

print(list_of_people)

['Kelly', 'Slater', 'Elon', 'Musk', 'Brad', 'Pitt', 'Will', 'Rogers', 'Starliner', 'Brevard', 'Bill', 'Mick', 'Viera', 'Studio', 'Viera', 'Adamson', 'Road', 'Robert', 'De', 'Niro', 'Larry', 'Mazza', 'Bermuda', 'Palm', 'Logan', 'Harvey', 'Astronaut', 'Palm', 'Bay', 'Nelson', 'Moya', 'Brevard', 'Jail', 'Alopecia', 'Golf', 'Atlas', 'Tony', 'Rowell', 'Bellaby', 'Human', 'Harry', 'Anderson', 'Iacobelli', 'Atlas', 'V', 'Andrew', 'Reed', 'Eau', 'Gallie', 'Brevard', 'DeSantis', 'Trump', 'Bay', 'Viera', 'Bill', 'Cotterell', 'Brevard', 'Carter', 'Stewart', 'Brevard', 'Brevard', 'Cinderella', 'Brighton', 'Beach', 'Brevard', 'Harry', 'Potter', 'Jack', 'Crew', 'Dragon', 'Marella', 'Rockledge', 'Ashlyn', 'Harris', 'Letter', 'Falcon', 'Heavys', 'Kicking', 'Palm', 'Bay', 'Andy', 'Anderson', 'Rangel', 'Bennett', 'Judy', 'Bryan', 'Roub', 'Staph', 'Enjoy', 'Jack', 'Daniels', 'Brevard', 'Big', 'Brevard', 'Viera', 'Cruise', 'Falcon', '9', 'Brevard', 'Humberto', 'Brevard', 'yard', 'Erin', 'Baird', 'Steve', 'Martin', 'Martin', 'Short', 'Vibrio', 'vulnificus', 'Gabriel', 'John', 'Daly', 'Viera', 'Nurse', 'Brevard', 'County', 'Brevard', 'Brevard', 'Plan', 'Larry', 'Fla', 'Sen', 'Debbie', 'Mayfield', 'Escape', 'Impossible', 'Cottage', 'Pie', 'St', 'Johns', 'River', 'Astronauts', 'Alisa', 'Rendina', 'George', 'Clooney', 'Bill', 'Nye', 'Buckaroo', 'Ball', 'Harmony', 'Farms', 'Brevard', 'Galvano', 'Travis', 'Proctor', 'Michael', 'Bloom', 'Brevard', 'Jarvis', 'Wash', 'Brevard', 'Elizabeth', 'Warren', 'Bernie', 'Sanders', 'Brevard', 'Harris', 'Carter', 'Stewart', 'Finishes', 'Runner', '-', 'Up', 'Barry', 'Invite', 'Brevard', 'Donald', 'Trumps', 'Allen', 'Taylor', 'Mike', 'Martin', 'Jr', 'Golf', 'Weather', 'Citronaut', 'Yuck', 'Brevard', 'Pol', 'Potâ€', 'Nuon', 'Chea', 'Kelly', 'Slater', 'Eau', 'Gallie', 'Family', 'Falcon', '9', 'Kacey', 'Walker', 'Ronsisvalle', 'Gov', 'DeSantis', 'Lanes', 'Rep', 'Randy', 'Fine']

In [157]:
def remove_details(word):
    if word.ent_type_ =='PERSON' or word.ent_type_=='ORG' or word.ent_type_=='GPE':
        return ' UNKNOWN '
    return word.text + " "



def update_article(doc):
    with doc.retokenize() as retokenizer:
        for ent in doc.ents:
            retokenizer.merge(ent)
   
    tokens = map(remove_details,doc)
    return ''.join(tokens)


update_article(news_doc)

'Restaurant inspections : Space Coast establishments fare well with no closures or vermin Despite strong talk  UNKNOWN has a lot more to do for Indian River Lagoon | Opinion  UNKNOWN - coached surfer from  UNKNOWN wins national title in  UNKNOWN Despite parachute mishap  UNKNOWN pad abort test a success Vote for  UNKNOWN Brevard diners rave about experiences at  UNKNOWN on the Space Coast restaurants Heres what you need to know about Tuesdays municipal elections in  UNKNOWN Save the turtles rally planned to oppose  UNKNOWN hotel - condominium project  UNKNOWN wants humans to colonize space  UNKNOWN shows that s easier said than done  UNKNOWN honors actor  UNKNOWN with new  UNKNOWN SpaceX targeting faster deployment of Starlink internet - beaming satellites Rockledge Cocoa hold while Merritt Island gains traction in state football polls  UNKNOWN launches and lands  UNKNOWN capsule for pad abort test in  UNKNOWN Eight of the 10 most dangerous metro areas for pedestrians are in  UNKNOWN report says  UNKNOWN faith leaders demand apology in open letter to  UNKNOWN How a  UNKNOWN researcher discovered a songbird can predict hurricane seasons Open doors change lives :  UNKNOWN of Brevard kicks off 2019 campaign  UNKNOWN man pleads guilty to killing sawfish by removing extended nose with power saw One - woman comedy Excuse My French at  UNKNOWN dives into authors mind  UNKNOWN and feedback : Sept 19 2019  UNKNOWN talk will highlight technology used for dementia patients  UNKNOWN open after dump truck crash spilled sand and fuel one injured From the mob to mob movies with  UNKNOWN : Meet  UNKNOWN former hitman Irishman consultant Tropical Storm Jerry getting stronger in Atlantic ; Hurricane Humberto nearing  UNKNOWN Bay Halloween party homicide suspect turns self in police say Fall playoffs : Satellite XC boys win region ;  UNKNOWN swimmers second Sounds of celebration during  UNKNOWN in Palm Bay Tractor trailer fire extinguished on I-95 in  UNKNOWN lanes open  UNKNOWN bowls a 279 to help  UNKNOWN beat Space Coast in battle of undefeated teams Letters and feedback : Sept 18 2019 Accelerated bargaining a bust as teachers union walks out on second day of pay talks  UNKNOWN :  UNKNOWN Rican Day Parade set for Palm  UNKNOWN commissioners debate biosolids at first of two public hearings US 1 widening in  UNKNOWN under study along with sidewalks and bike lanes Letters and feedback : Nov 3 2019  UNKNOWN man indicted on first - degree murder charge Rockledge Cocoa lead 8 Brevard HS football teams into playoffs  UNKNOWN accepting business hall of fame nominations Why Brevards proposed moratorium on sewage sludge is nt enough |Rangel Brevard high school football standings after Week 4  UNKNOWN might build new store at old Checkers site in  UNKNOWN on  UNKNOWN search for  UNKNOWN shooting suspect in  UNKNOWN area Does your drivers license have a gold star ? Well you need one  UNKNOWN man charged with arson in blaze at triplex where 16 children were celebrating a birthday Unit and lot owners may inspect their ledgers upon written request  UNKNOWN veteran officer  UNKNOWN chosen as police chief By the numbers : Your link to every state salary and what high ranking  UNKNOWN officials make Longtime state county legislative aide Furru honored by  UNKNOWN Week 11 : Rockledge pulls out  UNKNOWN win ;  UNKNOWN Bay Astro win rivalry games County commissioners allocate $446 million to repair South Beaches after Hurricane Dorian Tour of Brevard: Holy Trinity Tigers County Commission begins shakeup of its bloated advisory boards while adding term limits  UNKNOWN Jesus plaque washes ashore near  UNKNOWN thanks to Hurricane Humberto waves Widow of combat veteran who died after fight at  UNKNOWN appeals to governor Health calendar : June 27-July 4 Going surfing this weekend ? Check our wave forecast Have you ever seen a turtle release ? Heres your chance Darkness turns to day as SpaceX  UNKNOWN launches from Kennedy Space Center Losing hair in strange places ? It could be  UNKNOWN areata  UNKNOWN tip : Pairing and tee times on the PGA Tour NOAA updates projections saying above normal season could see 5 - 9 hurricanes 2 - 4 of them major  UNKNOWN relocation : Loss of a landmark hopeful future for healthcare and land How do I get adult child to move out start own life ? The  UNKNOWN V rockets jellyfish in the sky Scores : High school football Week 11 in  UNKNOWN  UNKNOWN gator caught on camera munching on plastic at  UNKNOWN Q&A : New  UNKNOWN head football coach  UNKNOWN Does the First Amendment go too far ? |  UNKNOWN says it has a contingency plan if football associations strike but wo nt reveal it Tropical Depression Ten forms in central Atlantic ; Hurricane Humberto continues to strengthen Updates : Watch SpaceX launch its  UNKNOWN rocket from Kennedy Space Center in  UNKNOWN and feedback : May 9 2019 The Good Stuff : Soccer star makes  UNKNOWN cover cookies in space and more Highly anticipated pad abort test of  UNKNOWN ™ s Starliner spacecraft is Monday morning Health calendar : Sept 19 - 26 Naked man running through  UNKNOWN parking lot arrested Lacking money and manpower  UNKNOWN considers swapping school SROs for armed guards Worst best airports in country : 3  UNKNOWN airports make Top 5 worst list  UNKNOWN STEM school shooting impacted my family : When will we say enough ? |  UNKNOWN ashes Legos and a sandwich : Strange things we sent into space Massive 2600-acre burn underway near  UNKNOWN line Health Pro : Trip to  UNKNOWN validated nurses career decision  UNKNOWN Palm Bays Sitting Man exposes gaps in helping the homeless  UNKNOWN splits 4 - 1 in favor of district plan for teacher pay ; union vows war Who s No 1 ? See the Brevard high school football rankings after Week 4 3 people taken into custody after multiple agencies tracked them at high speeds across Central Florida As dawn breaks over  UNKNOWN ULA Atlas V rocket lights up morning sky Why breast cancer was called Nuns disease Space Coast - based  UNKNOWN partners with Swiss tech giant  UNKNOWN continues for Palm Bay double killing in 2018 Canâ€ ™ t breastfeed ? Tips to provide same nutrition to baby Former  UNKNOWN golfer  UNKNOWN wins playoff in  UNKNOWN for third pro title Baseball bliss every 50 years : Letâ€ ™ s go  UNKNOWN ! Letâ€ ™ s go Nats ! 5 tips to make your holiday travel stress - free Updates :  UNKNOWN launches  UNKNOWN rocket military satellite from  UNKNOWN  UNKNOWN bowls 274 in  UNKNOWN win over Satellite Space industry propels  UNKNOWN economy into optimistic future ; highlights from  UNKNOWN investors meeting Governor  UNKNOWN signs bill geared toward expanding vocational training  UNKNOWN leaves 12500 customers without power in  UNKNOWN for nearly an hour Weak cold front brings fall weather after unusually warm October on Space Coast 321 Launch : The space news you might have missed Teacher pay : Union opens pay talks with raise demand supplement for veteran teachers Tour of Brevard: Bayside Bears Youth fishing tournament coming Saturday to  UNKNOWN President  UNKNOWN heres what Hurricane Michael damage still looks like  UNKNOWN and feedback : Aug 8 2019 Man leads police on 100 mph chase through  UNKNOWN Puerto Rican parade to take place this weekend in Palm  UNKNOWN - based  UNKNOWN Pride depart from pro softball league Tip of organized theft ring targeting boats motors leads to arrest of 3 men in  UNKNOWN crashes slow I-95 traffic near  UNKNOWN Is it time to reconsider how free speech should be ? |  UNKNOWN SPCA of  UNKNOWN takes influx of cats and dogs from Glades County Brevard residents share some of their favorite recent dining experiences Tuesdays brewery running tour stops at  UNKNOWN in  UNKNOWN 89-year-old  UNKNOWN Grandma Bunny battles 6-foot snake after it eats visiting birds The horrors of Dorian parallel another nearby tragedy of historic proportions EFSCs  UNKNOWN named NJCAA Region 8 Pitcher of the Week  UNKNOWN teenager charged with murder of grandfather If  UNKNOWN bans vape flavors  UNKNOWN shops say they ll be out of business  UNKNOWN : NASAs  UNKNOWN is space explorations next giant leap |  UNKNOWN continues cutting phone cords BSOs  UNKNOWN starting 25th year as music director High school sports results : May 7 Libraries busy with summer reading programs Four hurricanes in six weeks ? Remember 2004 the year of hurricanes Letters and feedback : Nov 2 2019 Letters and feedback : May 8 2019 As  UNKNOWN kids head back to school here are five things to make lunchtime happy healthy Palm Bay police investigate overnight shooting that left one dead Rent takes the stage at two playhouses  UNKNOWN Memoirs arrive on  UNKNOWN stages this weekend Junes Saharan dust setting up right conditions for red tide but still too soon to tell  UNKNOWN of  UNKNOWN : Dark Arts unleashed on Hogwarts Castle at  UNKNOWN First restructuring : What we know ( and what we do nt ) From  UNKNOWN in the Box to In - N - Out Burger : 7 restaurant chains missing in  UNKNOWN SpaceX anomaly : No further action needed on  UNKNOWN explosion cleanup Vietnam War mural pits residents vs  UNKNOWN community Matter settled   unhappily British cruise line  UNKNOWN to sail from  UNKNOWN in 2021 Kids are at risk as religious exemptions to vaccines spike in  UNKNOWN  UNKNOWN crime rate falls in 2018 reflecting statewide trend according to  UNKNOWN report  UNKNOWN -  UNKNOWN FSU - Miami : Why Saturday afternoon is a college football party in  UNKNOWN in  UNKNOWN Palm Bay  UNKNOWN draw  UNKNOWN raves Vote for  UNKNOWN for Sept 9-14 What s happening May 15-21 : Concert in Cocoa summer camps fun fair in  UNKNOWN Secretary / Treasurer Harvey seeks more public input at evening meetings SpaceX  UNKNOWN rocket launch : Where to watch from Space Coast Treasure Coast Volusia County  UNKNOWN Here are 10 of Arizonas most photogenic spots Some of them might surprise you  UNKNOWN police search for suspects after armed robbery Kardashian production features Palm Bay homicide involving sisters - in - law  UNKNOWN journalist The holidays are almost here ; Space Coast cooks are prepping special meals now How to watch tonights SpaceX  UNKNOWN launch from Kennedy Space Center in  UNKNOWN New state budget spending wish list includes bug studies lionfish contests stronger coastlines  UNKNOWN :  UNKNOWN soccer star  UNKNOWN make cereal cover and it costs $ 23 a box  UNKNOWN carriers  UNKNOWN food drive is Saturday May 11 Suzy Fleming Leonard : Fourth - graders talk about journalism share favorite restaurants  UNKNOWN night launch may be seen across portion of  UNKNOWN : Palm Bay teacher jerked autistic student from bus faces abuse charge  UNKNOWN axe : Urban axe throwing makes its debut in  UNKNOWN as trending sport stress reliever  UNKNOWN official  UNKNOWN hired as  UNKNOWN city administrator on  UNKNOWN Panhandle Daddy Duty : Are we celebrating Mothers Day the right way ? Father of 6 dies trying to save sons from rip current in  UNKNOWN Its time we address lack of affordable housing on Space Coast | Opinion Orlando Pride soccer player from  UNKNOWN diagnosed with breast cancer Space Coast bus system : Lets peck away at this problem  UNKNOWN chair says Do lovebugs have a purpose beyond annoying us all twice a year ?  UNKNOWN continues to strengthen swells expected to affect East-Central Florida surf One more launch this week ; Things to know about ULA Atlas V launch from  UNKNOWN self - defense class for women this Friday in  UNKNOWN The farce behind blaming video games for  UNKNOWN mass shootings |  UNKNOWN Teacher pay talks take new shape as school district and union vow to work together First - place  UNKNOWN on hot streak ;  UNKNOWN on ESPNs Top Plays A legacy of giving : When it comes to giving back  UNKNOWN and  UNKNOWN lead by example  UNKNOWN infection can come from ocean water beach sand ;  UNKNOWN man gets it from sandbar Its Launch Day ! Things to know about SpaceX  UNKNOWN launch from Kennedy Space Center Viera 6 more  UNKNOWN softball teams enter playoffs  UNKNOWN tastings in  UNKNOWN and  UNKNOWN this month  UNKNOWN location comes in at No 7 on list of  UNKNOWN cities that get the most sun Letters and feedback : Oct 31 2019  UNKNOWN veteran receives settlement from  UNKNOWN   after waiting 20 years  UNKNOWN restaurants with outdoor seating wage war against lovebugs  UNKNOWN adds beer sparkling wine and dog treats to its collection of Advent calendars If millennials choose socialism fine Just do nt make this mistake Gardening : Adding a tree to your  UNKNOWN landscape ? Southern redcedar is a great option  UNKNOWN high school football rivalries vary in postseason implications 6 hurricanes and 12 named storms predicted for remainder of 2019 hurricane season  UNKNOWN man suspected of firing shots with unwitting mother in tow faces multiple charges Dogs on the beach ?  UNKNOWN rejects proposal to allow dogs on South Brevard beaches Letters and feedback : Sept 15 2019 Despite weather odds SpaceX launches Falcon 9 rocket from  UNKNOWN of alleged battery victim lands  UNKNOWN man back in jail Winds are coming back again but inshore fishing is excellent for redfish and trout Exclusive : Trump administration sets plans for 2019 hurricane season after wakeup call of recent disasters Melting Pot : Intimacy of a shared meal makes this  UNKNOWN spot perfect for date night The Chefs Table : Fine meat seafood draw diners to this  UNKNOWN favorite Holmes nurse arrested accused of sexual battery on a patient Tour of Brevard: Satellite Scorpions Djons Steak & Lobster House : Discover old -  UNKNOWN elegance in  UNKNOWN restaurant  UNKNOWN chair resigns claims governors office interfered with independence Medical marijuana firms seek to open more storefronts in  UNKNOWN votes 4 - 1 to support superintendents plan for teacher raises ; audience not happy Tracking Brevards stars : Arena football champ  UNKNOWN star  UNKNOWN rookie lead the way Brevard school district miscalculated attrition savings finds $15 million for teacher pay  UNKNOWN country honor roll Oct 31  UNKNOWN team wins Emmy for coverage of SpaceX mission Golf tip : Making adjustments to correct your swing  UNKNOWN ship rescues and mishaps : 6 times emergency struck on  UNKNOWN more  UNKNOWN : SpaceX launches  UNKNOWN from  UNKNOWN group challenges In God We Trust motto on  UNKNOWN sheriffs patrol vehicles  UNKNOWN in sunscreen seep into your bloodstream after just one day  UNKNOWN says Cottage Rose mural dispute resolved in Indialantic after owner applies for permit  UNKNOWN strengthens into a hurricane as it moves away from Space Coast ;  UNKNOWN watching 2 more Planting herbs to cutting back on water heres what to do in your  UNKNOWN this month  UNKNOWN team heads to  UNKNOWN must prevent human trafficking through education | Opinion Please do nt eat the deer Family spots  UNKNOWN panther wandering around  UNKNOWN backyard Man found hanging onto side of kayak in Atlantic Ocean off Patrick Air Force Base SpaceX set to launch  UNKNOWN on mission with 24 payloads â€ “ \xa0 including human ashes  UNKNOWN is 2019 Volunteer of the Year finalist in  UNKNOWN TODAY Volunteer Recognition Awards ZZ Top  UNKNOWN and  UNKNOWN coming to King Center Needy Brevard students sleep easier on new beds donated from Ashley HomeStore These fitness trends are worth sticking with over time  UNKNOWN saw fewer infections from  UNKNOWN ( aka flesh - eating bacteria ) in 2018 Health calendar : April 25-May 2 Young actresses shine in  UNKNOWN at  UNKNOWN quarterback  UNKNOWN leads  UNKNOWN over  UNKNOWN in  UNKNOWN  UNKNOWN is 2019 Volunteer of the Year finalist in  UNKNOWN TODAY Volunteer Recognition Awards Health Pro : Doctors interest grew out of childhood health issues More strong storms move eastward over  UNKNOWN ; funnel clouds possible in  UNKNOWN at  UNKNOWN arrested on suspicion of sexual battery  UNKNOWN isolated showers heat impacting  UNKNOWN firefighters widow wins $9 million verdict in  UNKNOWN Pizza delivery death  UNKNOWN providers may be prohibited from rejecting renters on basis of arrest record 10-foot great white shark Miss May pings off Satellite Beach Palm Bay man 22 dies in overnight crash on Floridas Turnpike Tamara Carroll is 2019 Volunteer of the Year finalist in  UNKNOWN TODAY Volunteer Recognition Awards Tropical Storm Humberto not expected to affect Space Coast ;  UNKNOWN watching two more disturbances Theater veteran Blackledge passes away unexpectedly Ten dead issues from the 2019 legislative session Letters and feedback : June 23 2019 Rockledge Cocoa win big as Space Coast takes Holy Trinity in OT Surfers can enjoy chest - high waves most of weekend in  UNKNOWN ahead for Aug 14-20 : Space Coast Symphony performs Mikado Chef  UNKNOWN tweaks hours Daylight saving time ends on Nov 3 Here are 7 facts to know about the time change Two new  UNKNOWN ships including second largest in world move to  UNKNOWN  UNKNOWN files bill to define e - cigarettes liquid nicotine as tobacco products  UNKNOWN the hustle and bustle for a western getaway Missing Palm Bay teen found in  UNKNOWN ; mother arrested police say Impossible burger  UNKNOWN make 2019 Epcot Food and Wine Festival menu Got bats ? Why you need to get rid of them by Tax Day 2 charged with attempted murder ;  UNKNOWN police say they pistol - whipped waterboarded force - fed him dog food Bicyclist dies in hit - and - run crash on US 1 near  UNKNOWN :  UNKNOWN pollution threatens water supplies Rockledge man charged after hoax to shoot up  UNKNOWN awarded $ 80 M in lawsuit claiming Monsantos Roundup causes cancer  UNKNOWN won  UNKNOWN Week vote Alligators and airboats : How to explore Everglades National Park in one day Longtime educator church mother and humanitarian  UNKNOWN remembered in Palm Bay  UNKNOWN astronauts to attend black - tie event at Kennedy Space Center High school sports results : March 27  UNKNOWN visits  UNKNOWN ahead of SpaceX  UNKNOWN launch from  UNKNOWN to relocate  UNKNOWN to  UNKNOWN open new facilities Letters and feedback : Aug 7 2019  UNKNOWN to host top area amateur golfers this weekend  UNKNOWN benefits  UNKNOWN Get ready to rumble : Atlas V blasting off early Thursday morning War on lovebugs : Social media reactions tweets memes about pesky bugs cars windshields Master association that contains condominiums may be able to collect capital contribution The new  UNKNOWN opens at  UNKNOWN : Enjoy fresh seafood and river views at this Rockledge tradition March 27 : Panthers Walk It Off 10 takeaways from the presidents campaign kickoff visit to  UNKNOWN man arrested on manslaughter charges after  UNKNOWN shooting  UNKNOWN burglars hit five south  UNKNOWN stores before  UNKNOWN officer shot one of them  UNKNOWN family to receive Filipino World War II veterans  UNKNOWN : Want to go to the moon in five years ? We need more money How to REALLY clean lovebugs off your windshield car house Top party schools :  UNKNOWN  UNKNOWN State make it to top of Princeton Reviews 2020 list Live scores : High school football Week 4 in  UNKNOWN inspections : Happy Kitchen in  UNKNOWN in Palm Bay closed after inspections School district sticks to $ 770 raise offer for teachers ; special magistrate getting involved Candidate lineup is set for 2019 municipal special district elections in  UNKNOWN investigation underway after mans body found in  UNKNOWN ditch November hurricane forecast : Season not technically over but its over |  UNKNOWN future remains uncertain after devastation from Hurricane Michael What s behind a low performing school ? Crummy parents |  UNKNOWN known  UNKNOWN dealership has  UNKNOWN are back Many hate them Experts say they re here for good The lax disciplinary policies that caused \xa0 Parkland massacre may have spread to your school  UNKNOWN commissioners tackle parking issues : 10 things to know  UNKNOWN woman injured in crash dies from her injuries ; police looking for witnesses  UNKNOWN President  UNKNOWN calls for  UNKNOWN lawmakers to focus on mass shootings Governor DeSa

In [162]:
nltk.download('brown')

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\brown.zip.

True

In [163]:
from nltk.corpus import brown

In [164]:
brown.words()

['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', ...]

In [165]:
len(brown.words())

1161192

In [166]:
brown.sents()

[['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', 'Friday', 'an', 'investigation', 'of', "Atlanta's", 'recent', 'primary', 'election', 'produced', '``', 'no', 'evidence', "''", 'that', 'any', 'irregularities', 'took', 'place', '.'], ['The', 'jury', 'further', 'said', 'in', 'term-end', 'presentments', 'that', 'the', 'City', 'Executive', 'Committee', ',', 'which', 'had', 'over-all', 'charge', 'of', 'the', 'election', ',', '``', 'deserves', 'the', 'praise', 'and', 'thanks', 'of', 'the', 'City', 'of', 'Atlanta', "''", 'for', 'the', 'manner', 'in', 'which', 'the', 'election', 'was', 'conducted', '.'], ...]

In [167]:
brown.sents(fileids='ca01')

[['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', 'Friday', 'an', 'investigation', 'of', "Atlanta's", 'recent', 'primary', 'election', 'produced', '``', 'no', 'evidence', "''", 'that', 'any', 'irregularities', 'took', 'place', '.'], ['The', 'jury', 'further', 'said', 'in', 'term-end', 'presentments', 'that', 'the', 'City', 'Executive', 'Committee', ',', 'which', 'had', 'over-all', 'charge', 'of', 'the', 'election', ',', '``', 'deserves', 'the', 'praise', 'and', 'thanks', 'of', 'the', 'City', 'of', 'Atlanta', "''", 'for', 'the', 'manner', 'in', 'which', 'the', 'election', 'was', 'conducted', '.'], ...]

In [170]:
print(brown.fileids()[:100])
len(brown.fileids())

['ca01', 'ca02', 'ca03', 'ca04', 'ca05', 'ca06', 'ca07', 'ca08', 'ca09', 'ca10', 'ca11', 'ca12', 'ca13', 'ca14', 'ca15', 'ca16', 'ca17', 'ca18', 'ca19', 'ca20', 'ca21', 'ca22', 'ca23', 'ca24', 'ca25', 'ca26', 'ca27', 'ca28', 'ca29', 'ca30', 'ca31', 'ca32', 'ca33', 'ca34', 'ca35', 'ca36', 'ca37', 'ca38', 'ca39', 'ca40', 'ca41', 'ca42', 'ca43', 'ca44', 'cb01', 'cb02', 'cb03', 'cb04', 'cb05', 'cb06', 'cb07', 'cb08', 'cb09', 'cb10', 'cb11', 'cb12', 'cb13', 'cb14', 'cb15', 'cb16', 'cb17', 'cb18', 'cb19', 'cb20', 'cb21', 'cb22', 'cb23', 'cb24', 'cb25', 'cb26', 'cb27', 'cc01', 'cc02', 'cc03', 'cc04', 'cc05', 'cc06', 'cc07', 'cc08', 'cc09', 'cc10', 'cc11', 'cc12', 'cc13', 'cc14', 'cc15', 'cc16', 'cc17', 'cd01', 'cd02', 'cd03', 'cd04', 'cd05', 'cd06', 'cd07', 'cd08', 'cd09', 'cd10', 'cd11', 'cd12']

500

In [171]:
print(brown.raw('cb01').strip()[:1000])

Assembly/nn-hl session/nn-hl brought/vbd-hl much/ap-hl good/nn-hl
The/at General/jj-tl Assembly/nn-tl ,/, which/wdt adjourns/vbz today/nr ,/, has/hvz performed/vbn in/in an/at atmosphere/nn of/in crisis/nn and/cc struggle/nn from/in the/at day/nn it/pps convened/vbd ./.
It/pps was/bedz faced/vbn immediately/rb with/in a/at showdown/nn on/in the/at schools/nns ,/, an/at issue/nn which/wdt was/bedz met/vbn squarely/rb in/in conjunction/nn with/in the/at governor/nn with/in a/at decision/nn not/* to/to risk/vb abandoning/vbg public/nn education/nn ./.


	There/ex followed/vbd the/at historic/jj appropriations/nns and/cc budget/nn fight/nn ,/, in/in which/wdt the/at General/jj-tl Assembly/nn-tl decided/vbd to/to tackle/vb executive/nn powers/nns ./.
The/at final/jj decision/nn went/vbd to/in the/at executive/nn but/cc a/at way/nn has/hvz been/ben opened/vbn for/in strengthening/vbg budgeting/vbg procedures/nns and/cc to/to provide/vb legislators/nns information/nn they/ppss need/vb ./.

In [172]:
nltk.download('webtext')
from nltk.corpus import webtext

[nltk_data] Downloading package webtext to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\webtext.zip.

In [173]:
webtext.fileids()

['firefox.txt',
 'grail.txt',
 'overheard.txt',
 'pirates.txt',
 'singles.txt',
 'wine.txt']

In [174]:
for i, line in enumerate(webtext.raw('singles.txt').split('\n')):
    if i > 10: 
        break
    print(str(i) + ':\t' + line)

0:	25 SEXY MALE, seeks attrac older single lady, for discreet encounters.
1:	35YO Security Guard, seeking lady in uniform for fun times.
2:	40 yo SINGLE DAD, sincere friendly DTE seeks r/ship with fem age open S/E
3:	44yo tall seeks working single mum or lady below 45 fship rship. Nat Open
4:	6.2 35 yr old OUTGOING M seeks fem 28-35 for o/door sports - w/e away
5:	A professional business male, late 40s, 6 feet tall, slim build, well groomed, great personality, home owner, interests include the arts travel and all things good, Ringwood area, is seeking a genuine female of similar age or older, in same area or surrounds, for a meaningful long term rship. Looking forward to hearing from you all.
6:	ABLE young man seeks, sexy older women. Phone for fun ready to play
7:	AFFECTIONATE LADY Sought by generous guy, 40s, mutual fulfillment
8:	ARE YOU ALONE or lost in a r/ship too, with no hope in sight? Maybe we could explore new beginnings together? Im 45 Slim/Med build, GSOH, high needs and looking for someone similar. You WONT be disappointed.
9:	AMIABLE 43 y.o. gentleman with European background, 170 cm, medium build, employed, never married, no children. Enjoys sports, music, cafes, beach &c. Seeks an honest, attractive lady with a European background, without children, who would like to get married and have chil dren in the future. 29-39 y.o. Prefer non-smoker and living in Adelaide.
10:	ARE YOU A COPPER REDHEAD? I am 36 y.o. and looking for companionship/friendship. I enjoy the AFL, animals and dining out.

In [175]:
single_no8 = webtext.raw('singles.txt').split('\n')[8]
print(single_no8)

ARE YOU ALONE or lost in a r/ship too, with no hope in sight? Maybe we could explore new beginnings together? Im 45 Slim/Med build, GSOH, high needs and looking for someone similar. You WONT be disappointed.

In [176]:
from nltk import sent_tokenize, word_tokenize

In [177]:
sent_tokenize(single_no8)

['ARE YOU ALONE or lost in a r/ship too, with no hope in sight?',
 'Maybe we could explore new beginnings together?',
 'Im 45 Slim/Med build, GSOH, high needs and looking for someone similar.',
 'You WONT be disappointed.']

In [178]:
for sent in sent_tokenize(single_no8):
    print(word_tokenize(sent))

['ARE', 'YOU', 'ALONE', 'or', 'lost', 'in', 'a', 'r/ship', 'too', ',', 'with', 'no', 'hope', 'in', 'sight', '?']
['Maybe', 'we', 'could', 'explore', 'new', 'beginnings', 'together', '?']
['Im', '45', 'Slim/Med', 'build', ',', 'GSOH', ',', 'high', 'needs', 'and', 'looking', 'for', 'someone', 'similar', '.']
['You', 'WONT', 'be', 'disappointed', '.']

In [182]:
for sent in sent_tokenize(single_no8):
    print(list(map(str.lower, word_tokenize(single_no8))))

['are', 'you', 'alone', 'or', 'lost', 'in', 'a', 'r/ship', 'too', ',', 'with', 'no', 'hope', 'in', 'sight', '?', 'maybe', 'we', 'could', 'explore', 'new', 'beginnings', 'together', '?', 'im', '45', 'slim/med', 'build', ',', 'gsoh', ',', 'high', 'needs', 'and', 'looking', 'for', 'someone', 'similar', '.', 'you', 'wont', 'be', 'disappointed', '.']
['are', 'you', 'alone', 'or', 'lost', 'in', 'a', 'r/ship', 'too', ',', 'with', 'no', 'hope', 'in', 'sight', '?', 'maybe', 'we', 'could', 'explore', 'new', 'beginnings', 'together', '?', 'im', '45', 'slim/med', 'build', ',', 'gsoh', ',', 'high', 'needs', 'and', 'looking', 'for', 'someone', 'similar', '.', 'you', 'wont', 'be', 'disappointed', '.']
['are', 'you', 'alone', 'or', 'lost', 'in', 'a', 'r/ship', 'too', ',', 'with', 'no', 'hope', 'in', 'sight', '?', 'maybe', 'we', 'could', 'explore', 'new', 'beginnings', 'together', '?', 'im', '45', 'slim/med', 'build', ',', 'gsoh', ',', 'high', 'needs', 'and', 'looking', 'for', 'someone', 'similar', '.', 'you', 'wont', 'be', 'disappointed', '.']
['are', 'you', 'alone', 'or', 'lost', 'in', 'a', 'r/ship', 'too', ',', 'with', 'no', 'hope', 'in', 'sight', '?', 'maybe', 'we', 'could', 'explore', 'new', 'beginnings', 'together', '?', 'im', '45', 'slim/med', 'build', ',', 'gsoh', ',', 'high', 'needs', 'and', 'looking', 'for', 'someone', 'similar', '.', 'you', 'wont', 'be', 'disappointed', '.']

In [183]:
print(word_tokenize(single_no8))

['ARE', 'YOU', 'ALONE', 'or', 'lost', 'in', 'a', 'r/ship', 'too', ',', 'with', 'no', 'hope', 'in', 'sight', '?', 'Maybe', 'we', 'could', 'explore', 'new', 'beginnings', 'together', '?', 'Im', '45', 'Slim/Med', 'build', ',', 'GSOH', ',', 'high', 'needs', 'and', 'looking', 'for', 'someone', 'similar', '.', 'You', 'WONT', 'be', 'disappointed', '.']

In [184]:
single_no9 = webtext.raw('singles.txt').split('\n')[9]
sent_tokenize(single_no9)

['AMIABLE 43 y.o.',
 'gentleman with European background, 170 cm, medium build, employed, never married, no children.',
 'Enjoys sports, music, cafes, beach &c. Seeks an honest, attractive lady with a European background, without children, who would like to get married and have chil dren in the future.',
 '29-39 y.o.',
 'Prefer non-smoker and living in Adelaide.']

In [186]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords

stopwords_en = stopwords.words('english')
print(stopwords_en)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [187]:
single_no8_tokenized_lowered = list(map(str.lower, word_tokenize(single_no8)))
print(single_no8_tokenized_lowered)

['are', 'you', 'alone', 'or', 'lost', 'in', 'a', 'r/ship', 'too', ',', 'with', 'no', 'hope', 'in', 'sight', '?', 'maybe', 'we', 'could', 'explore', 'new', 'beginnings', 'together', '?', 'im', '45', 'slim/med', 'build', ',', 'gsoh', ',', 'high', 'needs', 'and', 'looking', 'for', 'someone', 'similar', '.', 'you', 'wont', 'be', 'disappointed', '.']

In [189]:
stopwords_en = set(stopwords.words('english'))


print([word for word in single_no8_tokenized_lowered if word not in stopwords_en])

['alone', 'lost', 'r/ship', ',', 'hope', 'sight', '?', 'maybe', 'could', 'explore', 'new', 'beginnings', 'together', '?', 'im', '45', 'slim/med', 'build', ',', 'gsoh', ',', 'high', 'needs', 'looking', 'someone', 'similar', '.', 'wont', 'disappointed', '.']

In [190]:
from string import punctuation
print('From string.punctuation:', type(punctuation),punctuation)

From string.punctuation: <class 'str'> !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [191]:
stopwords_en_withpunct = stopwords_en.union(set(punctuation))
print(stopwords_en_withpunct)

{"should've", "mightn't", 'below', 'herself', 'until', 'and', '&', 'up', 'over', 'wasn', 'aren', 'mightn', '*', 'here', 'needn', "you'll", 'them', "doesn't", 'own', 'yourself', '$', 'but', '}', 'few', "didn't", 'myself', 'where', '-', '`', 'against', ',', 'from', 'nor', 'through', "shouldn't", 'under', 'can', 'same', 're', 'in', 'couldn', 'this', 'out', 'after', "isn't", 'down', 'more', "needn't", 'each', 'having', "aren't", "wouldn't", 'a', 'into', 'there', 'further', 'being', '^', "won't", 'no', 'all', 'an', 'what', ')', '?', 'don', 'weren', ';', "hadn't", 'does', 'between', 'why', '/', 'your', 'because', "you're", 'not', 'be', 'ain', "you've", "hasn't", 'd', 'haven', 'which', "'", 'my', 'the', "you'd", 'shouldn', 'him', 'have', 's', '(', 'of', 'off', "weren't", 'at', 'our', 'shan', 'as', '|', 'themselves', 'just', 'should', '+', 'these', 'they', 'yourselves', 'been', 'didn', '_', 'only', 'she', 'hadn', 'mustn', 'is', "wasn't", 'those', "don't", 'did', 'are', '<', '"', 'me', 'he', '~', 'do', 'who', 'were', 'had', '%', 'other', 'how', 'doesn', 'if', "it's", 'so', 't', 'll', 'any', '>', 'during', "shan't", 'her', 'both', 'i', "mustn't", 'y', 'himself', 'then', '.', 'to', 'm', 'we', 'itself', 'for', 'most', 'on', 'by', "haven't", ':', 'now', 'some', 'above', 'than', 'wouldn', "she's", 'am', '[', 'o', 'ourselves', 'ours', 'very', '\\', '@', 'won', 'you', 'such', 'again', ']', 'before', 'yours', 'that', 'when', 've', 'his', 'hasn', 'ma', 'doing', 'whom', 'about', 'while', 'with', 'too', 'isn', 'once', "couldn't", '=', 'will', '#', 'has', 'it', 'their', 'was', 'theirs', '{', "that'll", '!', 'its', 'or', 'hers'}

In [192]:
print([word for word in single_no8_tokenized_lowered if word not in stopwords_en_withpunct])

['alone', 'lost', 'r/ship', 'hope', 'sight', 'maybe', 'could', 'explore', 'new', 'beginnings', 'together', 'im', '45', 'slim/med', 'build', 'gsoh', 'high', 'needs', 'looking', 'someone', 'similar', 'wont', 'disappointed']

In [193]:
stopwords_json = {"en":["a","a's","able","about","above","according","accordingly","across","actually","after","afterwards","again","against","ain't","all","allow","allows","almost","alone","along","already","also","although","always","am","among","amongst","an","and","another","any","anybody","anyhow","anyone","anything","anyway","anyways","anywhere","apart","appear","appreciate","appropriate","are","aren't","around","as","aside","ask","asking","associated","at","available","away","awfully","b","be","became","because","become","becomes","becoming","been","before","beforehand","behind","being","believe","below","beside","besides","best","better","between","beyond","both","brief","but","by","c","c'mon","c's","came","can","can't","cannot","cant","cause","causes","certain","certainly","changes","clearly","co","com","come","comes","concerning","consequently","consider","considering","contain","containing","contains","corresponding","could","couldn't","course","currently","d","definitely","described","despite","did","didn't","different","do","does","doesn't","doing","don't","done","down","downwards","during","e","each","edu","eg","eight","either","else","elsewhere","enough","entirely","especially","et","etc","even","ever","every","everybody","everyone","everything","everywhere","ex","exactly","example","except","f","far","few","fifth","first","five","followed","following","follows","for","former","formerly","forth","four","from","further","furthermore","g","get","gets","getting","given","gives","go","goes","going","gone","got","gotten","greetings","h","had","hadn't","happens","hardly","has","hasn't","have","haven't","having","he","he's","hello","help","hence","her","here","here's","hereafter","hereby","herein","hereupon","hers","herself","hi","him","himself","his","hither","hopefully","how","howbeit","however","i","i'd","i'll","i'm","i've","ie","if","ignored","immediate","in","inasmuch","inc","indeed","indicate","indicated","indicates","inner","insofar","instead","into","inward","is","isn't","it","it'd","it'll","it's","its","itself","j","just","k","keep","keeps","kept","know","known","knows","l","last","lately","later","latter","latterly","least","less","lest","let","let's","like","liked","likely","little","look","looking","looks","ltd","m","mainly","many","may","maybe","me","mean","meanwhile","merely","might","more","moreover","most","mostly","much","must","my","myself","n","name","namely","nd","near","nearly","necessary","need","needs","neither","never","nevertheless","new","next","nine","no","nobody","non","none","noone","nor","normally","not","nothing","novel","now","nowhere","o","obviously","of","off","often","oh","ok","okay","old","on","once","one","ones","only","onto","or","other","others","otherwise","ought","our","ours","ourselves","out","outside","over","overall","own","p","particular","particularly","per","perhaps","placed","please","plus","possible","presumably","probably","provides","q","que","quite","qv","r","rather","rd","re","really","reasonably","regarding","regardless","regards","relatively","respectively","right","s","said","same","saw","say","saying","says","second","secondly","see","seeing","seem","seemed","seeming","seems","seen","self","selves","sensible","sent","serious","seriously","seven","several","shall","she","should","shouldn't","since","six","so","some","somebody","somehow","someone","something","sometime","sometimes","somewhat","somewhere","soon","sorry","specified","specify","specifying","still","sub","such","sup","sure","t","t's","take","taken","tell","tends","th","than","thank","thanks","thanx","that","that's","thats","the","their","theirs","them","themselves","then","thence","there","there's","thereafter","thereby","therefore","therein","theres","thereupon","these","they","they'd","they'll","they're","they've","think","third","this","thorough","thoroughly","those","though","three","through","throughout","thru","thus","to","together","too","took","toward","towards","tried","tries","truly","try","trying","twice","two","u","un","under","unfortunately","unless","unlikely","until","unto","up","upon","us","use","used","useful","uses","using","usually","uucp","v","value","various","very","via","viz","vs","w","want","wants","was","wasn't","way","we","we'd","we'll","we're","we've","welcome","well","went","were","weren't","what","what's","whatever","when","whence","whenever","where","where's","whereafter","whereas","whereby","wherein","whereupon","wherever","whether","which","while","whither","who","who's","whoever","whole","whom","whose","why","will","willing","wish","with","within","without","won't","wonder","would","wouldn't","x","y","yes","yet","you","you'd","you'll","you're","you've","your","yours","yourself","yourselves","z","zero"]}
stopwords_json_en = set(stopwords_json['en'])
stopwords_nltk_en = set(stopwords.words('english'))
stopwords_punct = set(punctuation)

stoplist_combined = set.union(stopwords_json_en, stopwords_nltk_en, stopwords_punct)


print('With combined stopwords:')
print([word for word in single_no8_tokenized_lowered if word not in stoplist_combined])

With combined stopwords:
['lost', 'r/ship', 'hope', 'sight', 'explore', 'beginnings', 'im', '45', 'slim/med', 'build', 'gsoh', 'high', 'similar', 'wont', 'disappointed']

In [194]:
from nltk.stem import PorterStemmer
porter = PorterStemmer()

for word in ['walking', 'walks', 'walked']:
    print(porter.stem(word))

walk
walk
walk

In [195]:
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()

for word in ['walking', 'walks', 'walked']:
    print(wnl.lemmatize(word))

walking
walk
walked

In [196]:
from nltk import pos_tag
nltk.download('averaged_perceptron_tagger')
from nltk.stem import WordNetLemmatizer

wnl = WordNetLemmatizer()

def penn2morphy(penntag):
    """ Converts Penn Treebank tags to WordNet. """
    morphy_tag = {'NN':'n', 'JJ':'a',
                  'VB':'v', 'RB':'r'}
    try:
        return morphy_tag[penntag[:2]]
    except:
        return 'n' 
    


walking_tagged = pos_tag(word_tokenize('He is walking to school'))
print(walking_tagged)

[('He', 'PRP'), ('is', 'VBZ'), ('walking', 'VBG'), ('to', 'TO'), ('school', 'NN')]

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [197]:
[wnl.lemmatize(word.lower(), pos=penn2morphy(tag)) for word, tag in walking_tagged]

['he', 'be', 'walk', 'to', 'school']

In [198]:
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer

wnl = WordNetLemmatizer()

def penn2morphy(penntag):
    """ Converts Penn Treebank tags to WordNet. """
    morphy_tag = {'NN':'n', 'JJ':'a',
                  'VB':'v', 'RB':'r'}
    try:
        return morphy_tag[penntag[:2]]
    except:
        return 'n' 
    
def lemmatize_sent(text): 
    # Text input is string, returns lowercased strings.
    return [wnl.lemmatize(word.lower(), pos=penn2morphy(tag)) 
            for word, tag in pos_tag(word_tokenize(text))]

lemmatize_sent('He is walking to school')

['he', 'be', 'walk', 'to', 'school']

In [199]:
print('Original Single no. 8:')
print(single_no8, '\n')
print('Lemmatized and removed stopwords:')
print([word for word in lemmatize_sent(single_no8)
       if word not in stoplist_combined
       and not word.isdigit()])

Original Single no. 8:
ARE YOU ALONE or lost in a r/ship too, with no hope in sight? Maybe we could explore new beginnings together? Im 45 Slim/Med build, GSOH, high needs and looking for someone similar. You WONT be disappointed.

Lemmatized and removed stopwords:
['lose', 'r/ship', 'hope', 'sight', 'explore', 'beginning', 'im', 'slim/med', 'build', 'gsoh', 'high', 'similar', 'wont', 'disappoint']

In [200]:
#IMPORTANT
def preprocess_text(text):
    
    return [word for word in lemmatize_sent(text) 
            if word not in stoplist_combined
            and not word.isdigit()]

In [201]:
from collections import Counter

sent1 = "The quick brown fox jumps over the lazy brown dog."
sent2 = "Mr brown jumps over the lazy fox."

# Lemmatize and remove stopwords
processed_sent1 = preprocess_text(sent1)
processed_sent2 = preprocess_text(sent2)

In [202]:
print('Processed sentence:')
print(processed_sent1)
print()
print('Word counts:')
print(Counter(processed_sent1))

Processed sentence:
['quick', 'brown', 'fox', 'jump', 'lazy', 'brown', 'dog']

Word counts:
Counter({'brown': 2, 'quick': 1, 'fox': 1, 'jump': 1, 'lazy': 1, 'dog': 1})

In [203]:
print('Processed sentence:')
print(processed_sent2)
print()
print('Word counts:')
print(Counter(processed_sent2))

Processed sentence:
['mr', 'brown', 'jump', 'lazy', 'fox']

Word counts:
Counter({'mr': 1, 'brown': 1, 'jump': 1, 'lazy': 1, 'fox': 1})

In [204]:
from io import StringIO
from sklearn.feature_extraction.text import CountVectorizer

sent1 = "The quick brown fox jumps over the lazy brown dog."
sent2 = "Mr brown jumps over the lazy fox."

with StringIO('\n'.join([sent1, sent2])) as fin:
    # Create the vectorizer
    count_vect = CountVectorizer()
    count_vect.fit_transform(fin)

In [205]:
count_vect.vocabulary_

{'the': 8,
 'quick': 7,
 'brown': 0,
 'fox': 2,
 'jumps': 3,
 'over': 6,
 'lazy': 4,
 'dog': 1,
 'mr': 5}

In [206]:
from io import StringIO
from sklearn.feature_extraction.text import CountVectorizer

sent1 = "The quick brown fox jumps over the lazy brown dog."
sent2 = "Mr brown jumps over the lazy fox."

with StringIO('\n'.join([sent1, sent2])) as fin:
    # Override the analyzer totally with our preprocess text
    count_vect = CountVectorizer(stop_words=stoplist_combined,
                                 tokenizer=word_tokenize)
    count_vect.fit_transform(fin)
count_vect.vocabulary_

C:\Users\codiant\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ["'d", "'ll", "'m", "'re", "'s", "'ve", '``', 'ai', 'ca', "n't", 'sha', 'wo'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

{'quick': 6, 'brown': 0, 'fox': 2, 'jumps': 3, 'lazy': 4, 'dog': 1, 'mr': 5}

In [207]:
from io import StringIO
from sklearn.feature_extraction.text import CountVectorizer

sent1 = "The quick brown fox jumps over the lazy brown dog."
sent2 = "Mr brown jumps over the lazy fox."

with StringIO('\n'.join([sent1, sent2])) as fin:
    # Override the analyzer totally with our preprocess text
    count_vect = CountVectorizer(analyzer=preprocess_text)
    count_vect.fit_transform(fin)
count_vect.vocabulary_

{'quick': 6, 'brown': 0, 'fox': 2, 'jump': 3, 'lazy': 4, 'dog': 1, 'mr': 5}

In [208]:
import json

with open('Random-Acts-of-Pizza_train.json') as fin:
    trainjson = json.load(fin)

In [210]:
trainjson[0]

{'giver_username_if_known': 'N/A',
 'number_of_downvotes_of_request_at_retrieval': 0,
 'number_of_upvotes_of_request_at_retrieval': 1,
 'post_was_edited': False,
 'request_id': 't3_l25d7',
 'request_number_of_comments_at_retrieval': 0,
 'request_text': 'Hi I am in need of food for my 4 children we are a military family that has really hit hard times and we have exahusted all means of help just to be able to feed my family and make it through another night is all i ask i know our blessing is coming so whatever u can find in your heart to give is greatly appreciated',
 'request_text_edit_aware': 'Hi I am in need of food for my 4 children we are a military family that has really hit hard times and we have exahusted all means of help just to be able to feed my family and make it through another night is all i ask i know our blessing is coming so whatever u can find in your heart to give is greatly appreciated',
 'request_title': 'Request Colorado Springs Help Us Please',
 'requester_account_age_in_days_at_request': 0.0,
 'requester_account_age_in_days_at_retrieval': 792.4204050925925,
 'requester_days_since_first_post_on_raop_at_request': 0.0,
 'requester_days_since_first_post_on_raop_at_retrieval': 792.4204050925925,
 'requester_number_of_comments_at_request': 0,
 'requester_number_of_comments_at_retrieval': 0,
 'requester_number_of_comments_in_raop_at_request': 0,
 'requester_number_of_comments_in_raop_at_retrieval': 0,
 'requester_number_of_posts_at_request': 0,
 'requester_number_of_posts_at_retrieval': 1,
 'requester_number_of_posts_on_raop_at_request': 0,
 'requester_number_of_posts_on_raop_at_retrieval': 1,
 'requester_number_of_subreddits_at_request': 0,
 'requester_received_pizza': False,
 'requester_subreddits_at_request': [],
 'requester_upvotes_minus_downvotes_at_request': 0,
 'requester_upvotes_minus_downvotes_at_retrieval': 1,
 'requester_upvotes_plus_downvotes_at_request': 0,
 'requester_upvotes_plus_downvotes_at_retrieval': 1,
 'requester_user_flair': None,
 'requester_username': 'nickylvst',
 'unix_timestamp_of_request': 1317852607.0,
 'unix_timestamp_of_request_utc': 1317849007.0}

In [211]:
print('UID:\t', trainjson[0]['request_id'], '\n')
print('Title:\t', trainjson[0]['request_title'], '\n')
print('Text:\t', trainjson[0]['request_text_edit_aware'], '\n')
print('Tag:\t', trainjson[0]['requester_received_pizza'], end='\n')

UID:	 t3_l25d7

Title:	 Request Colorado Springs Help Us Please

Text:	 Hi I am in need of food for my 4 children we are a military family that has really hit hard times and we have exahusted all means of help just to be able to feed my family and make it through another night is all i ask i know our blessing is coming so whatever u can find in your heart to give is greatly appreciated

Tag:	 False

In [212]:
import pandas as pd
df = pd.io.json.json_normalize(trainjson)
df_train = df[['request_id', 'request_title',
               'request_text_edit_aware',
               'requester_received_pizza']]
df_train.head()

C:\Users\codiant\AppData\Local\Temp/ipykernel_6320/2732356923.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = pd.io.json.json_normalize(trainjson)

,request_id,request_title,request_text_edit_aware,requester_received_pizza
0,t3_l25d7,Request Colorado Springs Help Us Please,Hi I am in need of food for my 4 children we a...,False
1,t3_rcb83,"[Request] California, No cash and I could use ...",I spent the last money I had on gas today. Im ...,False
2,t3_lpu5j,"[Request] Hungry couple in Dundee, Scotland wo...",My girlfriend decided it would be a good idea ...,False
3,t3_mxvj3,"[Request] In Canada (Ontario), just got home f...","It's cold, I'n hungry, and to be completely ho...",False
4,t3_1i6486,[Request] Old friend coming to visit. Would LO...,hey guys:\n I love this sub. I think it's grea...,False

In [213]:
import json

with open('Random-Acts-of-Pizza_train.json') as fin:
    testjson = json.load(fin)

In [214]:
print('UID:\t', testjson[0]['request_id'], '\n')
print('Title:\t', testjson[0]['request_title'], '\n')
print('Text:\t', testjson[0]['request_text_edit_aware'], '\n')
print('Tag:\t', testjson[0]['requester_received_pizza'], end='\n')

UID:	 t3_l25d7

Title:	 Request Colorado Springs Help Us Please

Text:	 Hi I am in need of food for my 4 children we are a military family that has really hit hard times and we have exahusted all means of help just to be able to feed my family and make it through another night is all i ask i know our blessing is coming so whatever u can find in your heart to give is greatly appreciated

Tag:	 False

In [218]:
df = pd.io.json.json_normalize(testjson) 
df_test = df[['request_id', 'request_title', 
               'request_text_edit_aware']]
df_test.head()

C:\Users\codiant\AppData\Local\Temp/ipykernel_6320/3033337319.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = pd.io.json.json_normalize(testjson)

,request_id,request_title,request_text_edit_aware
0,t3_l25d7,Request Colorado Springs Help Us Please,Hi I am in need of food for my 4 children we a...
1,t3_rcb83,"[Request] California, No cash and I could use ...",I spent the last money I had on gas today. Im ...
2,t3_lpu5j,"[Request] Hungry couple in Dundee, Scotland wo...",My girlfriend decided it would be a good idea ...
3,t3_mxvj3,"[Request] In Canada (Ontario), just got home f...","It's cold, I'n hungry, and to be completely ho..."
4,t3_1i6486,[Request] Old friend coming to visit. Would LO...,hey guys:\n I love this sub. I think it's grea...

In [219]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split 


train, valid = train_test_split(df_train, test_size=0.2)

In [220]:
count_vect = CountVectorizer(analyzer=preprocess_text)
train_set = count_vect.fit_transform(train['request_text_edit_aware'])
train_tags = train['requester_received_pizza']

valid_set = count_vect.transform(valid['request_text_edit_aware'])
valid_tags = valid['requester_received_pizza']

In [221]:
test_set = count_vect.transform(df_test['request_text_edit_aware'])

In [222]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB() 


clf.fit(train_set, train_tags)

MultinomialNB()

In [223]:
from sklearn.metrics import accuracy_score


predictions_valid = clf.predict(valid_set)

print('Pizza reception accuracy = {}'.format(
        accuracy_score(predictions_valid, valid_tags) * 100)
     )

Pizza reception accuracy = 74.13366336633663

In [225]:
count_vect = CountVectorizer(analyzer=preprocess_text)

full_train_set = count_vect.fit_transform(df_train['request_text_edit_aware'])
full_tags = df_train['requester_received_pizza']


test_set = count_vect.transform(df_test['request_text_edit_aware'])


clf = MultinomialNB() 
clf.fit(full_train_set, full_tags)

MultinomialNB()

In [226]:
predictions = clf.predict(test_set)

In [227]:
success_rate = sum(df_train['requester_received_pizza']) / len(df_train) * 100
print(str('Of {} requests, only {} gets their pizzas,'
          ' {}% success rate...'.format(len(df_train), 
                                        sum(df_train['requester_received_pizza']), 
                                       success_rate)
         )
     )

Of 4040 requests, only 994 gets their pizzas, 24.603960396039604% success rate...